/**
* Autor: Rubén Pardo, Marc Castello
* GTI Grupo 11
* Fecha: 25-05-2020
* detalles-temporada.css
* Hoja de estilos de detalles-temporada.html
*/

:root{
    --primary-color: #830052;
    --primary-hover: #990053;
    --date-range-color: #f8ebf0;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}
* {
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*QUITAR EL FONDO AZUL AL CLICAR*/
}
/*QUITAR EL BORDE AZUL AL HACER FOCUS*/
*:focus{
    outline: none;
}

html, body{

    margin: 0;
    background-image: url("../img/fondoApp.svg");

}

.btn-secondary{
    color: var(--primary-color);
    background: white;
    padding: 0.7rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;

}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:hover,
.btn-secondary:focus {
    outline: none;
    color: var(--primary-color);
    background: white;
    border: 1px solid var(--primary-color);
}
.btn-secondary:not(:disabled):not(.disabled):active:focus{
    outline: none;
    box-shadow: inset 0px 0px 5px #444;
}

.btn-primary{
    background: var(--primary-color);
    color: white;
    padding: 0.7rem;
    border-radius: 5px;

}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:hover,
.btn-primary:focus {
    outline: none;
    background: var(--primary-hover);
    color: white;
    border: 1px solid var(--primary-color);
}
.btn-primary:not(:disabled):not(.disabled):active:focus{
    outline: none;
    box-shadow: inset 0px 0px 5px #444;
}

/*=================================
HEADER
=================================*/

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 1px 4px;
    height: 98px;
}

header h1#header-titulo{
    font-weight: bold;
    color: var(--primary-color);
    font-size: 1.3rem;

    /*esconder el texto con (...) a partir de la segunda linea*/
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

header h2#header-subtitulo{
    color: var(--text-color);
    font-size: 1rem;
}

header .titulo {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

header .botones-header{
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}
header button {
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    color: var(--primary-color);
}

/*icono del boton salir*/
header button i{
    padding-left: 0.5rem;
    font-size: 2rem;
}

/*header a partir de 500*/
@media (min-width: 500px) {
    header h1#header-titulo{
        font-weight: bold;
        color: var(--primary-color);
        font-size: 1.5rem;

    }

}
/*Cambiar el color de los labels de los balances*/
.balance-positivo{
    font-weight: bold;
    color: #46B63C;
}
.balance-negativo{
    font-weight: bold;
    color: #B63C3C;
}


/*=============================
Css del section conteniod
===============================*/
.main{
    min-height: 80vh;
}

/*=================================
Boton de atras y generar pdf
=================================*/
/*div principal*/
.contenedor-titulo-atras{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
}

.contenedor-atras{
    padding-bottom: 2rem;
}

.contenedor-atras h1{
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 0 1rem;
    font-weight: bold;
    color: var(--primary-color);
}
.contenedor-atras h2{
    font-size: 1rem;
    margin: 0;
    padding: 0 0 0 1rem;
}


.btn-generar-pdf{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active i,
.btn-secondary:hover,
.btn-secondary:hover i,
.btn-secondary:focus ,
.btn-secondary:focus i {
    outline: none;
    color: white;
    background: var(--primary-color-hover);
    border: 1px solid var(--primary-color-hover);
}

.btn-generar-pdf span{
    padding-left: 1rem;
}
/*NAV - TABS*/
ul.nav-tabs{
    border-color: var(--primary-color);
}

/*Tab activo*/
ul.nav-tabs a.nav-link.active{
    cursor: default;
    color: white;
    font-weight: bold;
    background: var(--primary-color);
}
/*Tab no activo*/
ul.nav-tabs a.nav-link{
    cursor: pointer;
    color: var(--primary-color);
    font-weight: bold;
}

/*Tab no activo hover*/
ul.nav-tabs a.nav-link:hover{
    background: var(--primary-hover);
    color: white;
    font-weight: bold;
}

/*Boton flotante (FAB)*/
.tab-fab{
    position: fixed;
    margin: 1rem 1rem 2rem;
    right: 0;
    bottom: 0;
}
.tab-fab button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 70px;
    box-shadow: 1px 1px 5px black;
}

.graficas .tab-fab button,
.historial .tab-fab button{
    padding-right: 1.3rem;
}
.tab-fab button.btn-primary{
    color: white;
    background: var(--primary-color);
}
.tab-fab button.btn-primary:focus,
.tab-fab button.btn-primary:hover{
    color: white;
    outline: none;
    border: none;
    box-shadow: none;
    background: var(--primary-hover);
}
.tab-fab button i{
    padding-right: 1rem;
}
.tab-fab .btn-primary:not(:disabled):not(.disabled):active,
.tab-fab .btn-primary:not(:disabled):not(.disabled):active {
    color: white;
    background: var(--primary-hover);
    box-shadow: 0 0 0 0.1rem rgba(0,0,0,.3);;
}

/*TAB grafica*/
.contendor-principal > div{
    padding-bottom: 2rem;
}

.graficas-vacias{
    display: none;
    padding:1rem;
}
.graficas .tab-fab button{
    padding-right: 1.3rem;
}
.flexRowWrap{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#secundarios{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.principal{
    padding:1rem;
    flex: 1 1 auto;
    height: 300px;
    background: white;
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 4px #444;
}
.segunda{
    padding:2rem;
    flex: 1 1 auto;
    height: 176px;
    background: white;
    border: 1px solid #d7d7d7;
    box-shadow: 2px 2px 4px #444;
    cursor: pointer;
}
@media (min-width: 600px) {
    #secundarios{
        width: auto;
    }
    .principal{
        margin: 1rem;
        width: 613px;
    }
    .segunda{
        margin: 1rem;
        width: 235px;
        height: 220px;
    }
}
@media (min-width: 1100px) {
    #secundarios{
        width: fit-content;
    }

    .flexRowWrap{
        flex-direction: row;
    }

    #secundarios{
        flex-direction: column;
    }

    .principal{
        margin: 1rem;
        max-width: 840px;
        height: 523px;
    }
    .segunda{
        margin: 1rem;
        width: 263px;
        height: 263px;
    }
}

/*TAB lista*/

.lista{
    width: auto;
}
.lista h3{
    margin: 1rem;
}

/*TAB info*/
.info{
    display: none;
}
.info .tab-fab{
    margin: 0 0 1rem;
}
.info .tab-fab .info-guardar{
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}
.info .tab-fab button{
    margin: 1rem;
    border-radius: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.info .descripcion{
    padding-bottom: 1rem;
}

.info textarea{
    display: none;
    width: 100%;
}
.form-item-obligatorio{
    font-weight: bold;
    background: none;
    color: red;
    position: relative;
    margin: 0 0.5rem 0 0.5rem;
}
span#error-titulo{
    display: none;
    color: #555;
    margin: 1rem;
}

.info .contenedor{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}
.info .fechas-parcelas{
    display: flex;
    flex-direction: column;
}
.info .fechas-parcelas h3{
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
    padding-right: 1rem;
}
.info .fechas-parcelas .fechas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.info .fechas-parcelas .fechas .fecha-item{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.info .fechas-parcelas .fechas .fecha-item p{
    margin: 0;
}

.info .parcela{
    padding-bottom: 1rem;
    word-break: break-word;
}

.info .btn-finalizar{
    align-self: flex-end;
}
.info .btn-finalizar:hover{
    color: white;
    background: var(--primary-hover);
}

    /*TAB historial*/
.historial{
    display: none;
}
.historial .tab-fab button{
    padding-right: 1.3rem;
}
/*============================ ELEMENTO CARGAR*/
.cargar {
    display: none;
    text-align: center;
}
.cargar img {
    width: 100%;
    height: 20%;
    max-height: 250px;
    margin: 6rem auto;
}
/*============================ ELEMENTO ERROR*/
.error {
    display: none;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem 1rem 6rem;
}
.error h1 {
    font-weight: bold;
    font-size: 2rem;
    color: var(--primary-color);
}

/*==============================PDF*/

#PDF {
    display: none;
}

.container-graficas-pdf{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pdf{
    margin: 0.5rem;
    padding: 0.5rem;
    width: 600px;
    height: 245px;
}

.imgGrafica{
    display: flex;
    justify-content: center;
    width: 584px;
    height: 230px;
}
.gra{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 210px;
}
#cantidadTotal{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: #FFFFFF;
    background: #080010;
}
#cantidadTotal #total{
    margin-top: 0.3rem;
    margin-right: 0.5rem;
}
table { page-break-inside:auto }
.container2{
    height: 820px;
    display: flex;
    flex-direction: column;
}
.portada{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.b{
    margin-left: 0rem;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.c{
    margin-right: 0.5rem;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}
.fecha{
    display: flex;
    flex-direction: row;
}
.fecha #fechaIni{
    margin-right: 2rem;
}
#descripcion{
    font-size: 1.4rem;
}

#bodyPDF{
    background-image: none;
}
/*==============================FOOTER*/
footer {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 678px) {
    .footerGraph{
        position: absolute;
        top: 120em;
    }
}

/*==============================FIN FOOTER*/
