/**
* Autor: Rubén Pardo
* GTI Grupo 11
* Fecha: 16-03-2020
* panel-usuario-campo.css
* Hoja de estilos de detalles-campo.html
*/

:root{
    --primary-color: #830052;
    --primary-hover: #990053;
    --date-range-color: #f8ebf0;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}
* {
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*QUITAR EL FONDO AZUL AL CLICAR*/
}
/*QUITAR EL BORDE AZUL AL HACER FOCUS*/
*:focus{
    outline: none;
}

html, body{

    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("../img/fondoApp.svg");

}
h1 {
    color: var(--primary-color);
    font-size: 2rem;
}
h2{
    color: var(--primary-color);
    font-size: 2rem;
}
h3{
    color: var(--primary-color);
    font-size: 1rem;
    margin-top: 0;
}

/*===========================================HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 1px 4px;
    height: 98px;
}
header img {
    width: 110px;
    height: auto;
}
header button img {
    width: 110px;
    height: 30px;
    margin: 1rem;
}
header button {
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}
header button img {
    max-width: 32px;
    margin-left: 1rem;
}
header .titulo {
    display: flex;
    max-width: 66%;
    flex-direction: column;
    margin: 1rem;
}
header .titulo h1, p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
header .titulo p {
    margin-top: 0.5rem;
}

header .botones-header{
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

.tresPuntos {
    display: none;
    border: none;
    background: none;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: clip;
    white-space: unset;
    color: #830052;
}
.tresPuntos i{
    font-size: 1rem;
    color: #9c0063;
    width: 150px;
    height: 150px;
}
.dropdown-menu{
    visibility: initial;
}
.dropdown-menu div button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.dropdown-menu div button p{
    margin: 0;
    padding-left: 0.5rem;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle,
.btn-secondary.focus,
.btn-secondary:focus,
.show>.btn-secondary.dropdown-toggle:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus{
    color: var(--primary-color);
    background-color: white;
    border: none;
    box-shadow: none;
}

.dropdown-toggle::after,
.dropdown-toggle::before{
    display: none;
}
/*esconder el menu flotante*/
/*asi nos evitamos si abre el menu y hace grande y siga*/
.dropdown-menu,
.dropdown-menu.show{
    display: none;
}

@media (max-width: 657px) {
    header .botones-header{
        display: none;
    }

    .tresPuntos,
        /*menu flotante solo saldrá en pequeño*/
    .dropdown-menu.show{
        display: block;
    }
}

/*==========================================================MAPA*/
.sec-map{
    display: flex;
    height: 100%;
    flex-direction: column;
}
#idMapa{
    width: 100%;
    flex-grow: 1;
}
/*SECTION CONTENIDO*/
.contenedor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.contenido {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/*==========================================Volver atrás*/
.btn-atras{
    display: none;
    flex-direction: row;
    background: var(--primary-color);
    border-radius: 65%;
    padding: 0.5rem 0.5rem;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 6.2em;
    border: none;
    margin: 1rem;
    margin-left: 0.5rem;

}
.text-btn-atras{
    display: none;
    justify-self: center;
    padding-left: 0.5rem;
    color: white;
    overflow: initial;
}
@media (min-width: 978px) {
    .btn-atras{
        width: 87px;
        border-radius: 150px;
    }
    .text-btn-atras{
        display: block;
    }
}
/*==========================================AYUDA*/
.ayuda{
    position: absolute;
    right: 0;
    top: 5.875em;;
    width: 40px;
    height: 40px;
    margin: 1rem;
    border-radius: 50%;
    background: white;

    box-shadow: 2px 2px 5px black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ayuda:active{
    box-shadow: 0 0 10px black;
}

/*==========================================MODO SELECCION*/
.salirModoEdicion{

    background: #820053;
    height: auto;
    width: auto;
    display: none;
    position: absolute;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    right: 4em;
    top: 6em;
    margin: 1rem;

    border-radius: 15px;
    color: white;
    font-weight: bold;

    border-style: none;
}
.salirModoEdicion:hover{
    background: var(--primary-hover);
}
.salirModoEdicion p{
    margin: 0.7rem;
}
@media (max-width: 601px) {
    .salirModoEdicion{
        left: 62%;
        border-radius: 50%;
    }

    .salirModoEdicion p{
        display: none;
    }
    .salirModoEdicion .cross{
        display: block;
    }
}

/*==========================================BAJAR*/
.btn-generar-grafica{

    background: #820053;
    height: auto;
    width: auto;

    position: absolute;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    right: 7%;
    bottom: 1.2em;
    margin: 1rem;

    border-radius: 15px;
    color: white;
    font-weight: bold;

    border-style: none;
}
.btn-generar-grafica:hover{
    background: var(--primary-hover);
}
.btn-generar-grafica p{
    margin: 0.7rem;
}
.btn-generar-grafica img{
    margin: 0.7rem;
    width: 32px;
    height: 32px;
}
@media (max-width: 678px) {


    .btn-generar-grafica .cross{
        display: block;
    }
}

/*==========================================Seleccionar sondas*/
.seleccionar-todo{

    background: white;
    height: auto;
    width: auto;

    position: absolute;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    left: 2%;
    bottom: 1.5em;
    margin: 1rem;
    padding: 1rem;

    border-radius: 15px;
    color: black;
    font-weight: bold;

    border-style: none;
}
.seleccionar-todo:active{
    box-shadow: 0 0 10px;
}
@media (max-width: 678px) {
    .seleccionar-todo{
        bottom: 3.5%;
    }
}

/*==========================================MODAL*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: auto auto;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header{
    display: block;
}

/* Modal Content/Box */
.modal-content {

    border-radius: 15px;
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal h2{
    margin: 0.5rem 0 0;
    padding-left: 1rem;
}
.modal-content ul{
    padding-left: 3%;
}
.modal-content li{
    padding: 0.5rem;
    min-height: 23px;
}
.modal-content button{
    border: none;
    cursor: pointer;
    background: none;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: bold;
}
.modal-content button:hover{

    text-shadow: 1px 1px 3px black;
}
/* The Close Button */
.close {
    align-self: flex-end;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal img{
    position: relative;
    top: -4px;
    width: 35px;
    height: 35px;
    padding: 0.3rem 0.3rem;
}

.modal li .circle {
    box-shadow: 1px 1px 3px black;
    align-self: center;
    justify-self: center;
    text-align: center;
    background: var(--primary-color);
    color: white;
    border-radius: 50%;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    padding: 0.3rem 0.6rem;
}

.modal li  .boton-modal{
    box-shadow: 1px 1px 3px black;
    display: inline;
    align-self: center;
    justify-self: center;

    height: 23px;
    width: auto;
    font-weight: bold;
    border-radius: 15px;
    text-align: center;

    margin: 0.6rem 0.7rem 0.2rem;
    padding: 0.3rem 0.6rem;

    white-space: nowrap;
}
.boton-modal-morado{
    background: var(--primary-color);
    color: white;
}
.boton-modal-blanco{
    border: 1px solid;
    background: white;
    color: black;
}
/*================================================ SELECTORERS Y DATAPICKER*/
/*==========================================DROPDOWN CUSTOM SELECT*/
#selectors-parcela   {
    position: absolute;

    padding: 0;
    cursor: pointer;

    width: 30vw;
    max-width: 400px;
    min-width: 140px;
    height: 30px;

    border-radius: 15px;
}
.selectors-parcela-con-atras{
    left: 3.3em;
    top: 7em;
}
.selector-parcela-sin-atras{
    left: 1em;
}
/*mover a la drch el selector de parcelas para mostrar el btn de atras grande*/
@media (min-width: 978px) {
    .selectors-parcela-con-atras   {
        left: 7em;

    }
    div .selector-parcela-sin-atras{
        left: 1em;
    }
}
#selector-tipo-medicion{
    width: 100%;
    padding: 0;
    z-index: 99;
}
.custom-select select {
    display: none; /*hide original SELECT element: */
}
.select-selected-parcela,.select-selected-medicion {
    max-width: 500px;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    text-overflow: ellipsis;
    overflow: hidden;
}
/* Style the arrow inside the select element: */
#selectors-parcela .select-selected-parcela:after {
    display: none;
}
#selector-tipo-medicion .select-selected-medicion:after {
    display: none;
}
/* Point the arrow upwards when the select box is open (active): */
/* Point the arrow upwards when the select box is open (active): */
.select-selected-parcela.select-arrow-active:after,
.select-selected-medicion.select-arrow-active:after{
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/* style the items (options), including the selected item: */
.select-items-medicion div,
.select-items-parcela div,
.select-selected-parcela,
.select-selected-medicion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Style items (options): */
.select-items-parcela,
.select-items-medicion{
    box-shadow: 1px 1px 3px black;
    background-color: white;
    top: 100%;
    z-index: 99;
}
/* Hide the items when the select box is closed: */
.select-hide {
    display: none;
}
.select-items-parcela div:hover, .select-items-medicion div:hover,.same-as-selected {
    background-color: #820053;
    color: white;
}
.same-as-selected{
    color: white;
}
/*FLECHA ABAJO QUE SE AÑADE A LOS DROPDOWNS*/
i.flechaDropdowns {
    width: 8px;
    background: url("../img/flechaAbajo.svg") no-repeat;
    padding-right: 1rem;
}

/*=============================BLOQUE SELECTORES GRAFICO*/
.selector-graphs{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}
.selector-graphs .selector-graphs-item {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 40vw;
    max-width: 500px;
}
.selector-graph-drch{
    padding-left: 1rem;
}

/*=============================================================LABELS SELECTORES*/
.selector-graphs-item label{
    margin: 0.5rem 1rem 0.5rem 0;
    font-size: 1.1rem;

}

.datapicker{
    box-shadow: 1px 1px 3px black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    background: white;
}
.daterangepicker .ranges li {
    max-width: 400px;
    max-height: 24px;
    font-size: 12px;
    padding: 8px 12px;
    cursor: pointer;
}

/*CAMBIAR COLORES DEL DATA PICKER*/
/*color active de los rangos*/
.daterangepicker .ranges li.active {
    background-color: var(--primary-color);
    color: #fff;
}
.datapicker .ranges li.active {
    background-color: var(--primary-color);
    color: #fff;
}
/*color de las fechas seleccionadas*/
.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: var(--primary-color);
    border-color: transparent;
    color: #fff;
}
.daterangepicker td.in-range {
    background-color: var(--date-range-color);
    border-color: transparent;
    color: #000;
    border-radius: 0;
}
/*Color de los botones*/
.daterangepicker .applyBtn {
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: 4px;
}
.daterangepicker .cancelBtn{
    background: none;
    border: none;
    color: var(--primary-color);
}
/*Color del active del hour select*/
.hourselect option:active{
    background: var(--date-range-color);
}
.datapicker>img {
    width: 26px;
    height: 22px;
}

/*A PARTIR DE MENOS DE 900px los labels de los selectores pasa a arriba*/
@media (max-width: 900px) {
    .selector-graphs .selector-graphs-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: -webkit-fill-available;
        padding: 1rem;
    }
    .selector-graphs-item label{
        margin: 0.5rem 0;
    }
}
/*EN MOVIL EN COLUMNA CON LOS LABELS*/
@media (max-width: 424px) {

    .selector-graphs .selector-graphs-item {
        padding: 1rem;
        max-width: none;
    }

    .selector-graphs{
        flex-direction: column;
    }
    #selector-tipo-medicion {
        width: 100%;
        max-width: none;
        text-overflow: ellipsis;
        padding-bottom: 1rem;
    }
    .datapicker{
        width: 100%;
        max-width: none;
        text-overflow: ellipsis;
    }
    .select-selected{
        width: auto;
        max-width: none;
        text-overflow: ellipsis;
    }
}

/*========================================= SECCION GRAFICAS*/
.graphs {
    display: none;
    justify-content: center;
    margin: 1rem;
    flex-direction: column;
    padding: 2rem;
    height: auto;

}
.graphs>h2{
    margin: 0 0 1rem;
}

/*=======================BOTON SUBIR*/
.subir{

    display: flex;
    cursor: pointer;
    justify-content: flex-start;
    align-items: center;

    height: auto;
    width: auto;
    color: white;
    background: var(--primary-color);
    box-shadow: 1px 1px 3px black;
    border-radius: 15px;
    font-weight: bold;
    border-style: none;

    padding: 0.1rem 1rem;
    margin-left: auto;
}
.subir img{
    width: 20px;
    height: 24px;

}
.subir:hover{
    background: var(--primary-hover);
}
.subir p{
    margin: 0.7rem;
}
@media (max-width: 678px) {



    .btn-generar-grafica .cross{
        display: block;
    }
}

/*Container que wrapper de la carga, erro, grafica e info*/
.graph-container {
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 3rem;
    height: 400px;
    width: 100%;
}
.graphs-item {
    /*background: #555555;*/
    display: none;
    margin: 0 auto;
    background-color: white;
    box-shadow: gray 1px 2px 5px;
    height: 100%;
    padding: 0.5rem;
}
.graphs-item-cargando{
    /*background: #555555;*/
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: white;
    box-shadow: gray 1px 2px 5px;
    height: 100%;
    padding: 0.5rem;
}
.graphs-item-cargando img{

    margin: 0 auto;
}
.graph-info{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    text-align: center;
    background-color: white;
    box-shadow: grey 1px 2px 5px;

    height: 100%;
    width: 100%;
    padding: 0.5rem;
}
.graph-info h2{
    margin-top: 0;
    font-style: italic;
    font-weight: 400;
    color: #555;
}
#titulo-graphs{
    color: #555;
    font-size: 1.25rem;
    margin: 2rem;
}
.graph-error{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    box-shadow: grey 1px 2px 5px;
    height: 100%;

}
.graph-error h1 {
    font-weight: bold;
    font-size: 2rem;
}

@media (max-width: 470px) {
    .btn-generar-grafica{
        right: unset;
        margin-bottom: 25%;
    }
    .graphs {
        padding: 0rem;
        margin: 0rem;
    }
    .graphs>h2{
        margin: 1rem;
    }
    .selectors {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .selector-graphs-item{
        padding: 1rem;
    }

    .graph-container {
        height: 300px;
    }
    .graphs-item{
        box-shadow: black 0 0 0 0;
    }
    .graph-info{
        box-shadow: black 0 0 0 0;
    }

    .graph-error{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        padding: 1rem;
        text-align: center;
        justify-content: center;
        align-content: center;
        background-color: white;
        box-shadow: grey 1px 2px 5px;
        height: 100%;

    }
    .graph-error img {
        width: 50%;
        height: 50%;
    }

}
@media (min-width: 840px) {
    .selectors {
        margin: 0 auto;
        justify-content: space-between;
    }



    .label-select {
        display: block;
        margin-left: 2.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .label-data {
        margin-left: 0;
    }

    .graphs-item {
        max-height: 80vh;
    }
    .graphs-item-cargando{
        max-height: 80vh;
    }

}



/*============================ ELEMENTO CARGAR*/
.cargar {
    display: none;
}
.cargar img {
    width: 100%;
    height: 20%;
    max-height: 250px;
    margin: 6rem auto;
}
/*============================ ELEMENTO ERROR*/
.error {
    display: none;
    margin: 2rem auto;
    text-align: center;
    padding: 1rem 1rem 6rem;
}
.error h1 {
    font-weight: bold;
    font-size: 2rem;
}



/*==============================FOOTER*/
footer {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 678px) {
    .footerGraph{
        position: absolute;
        top: 120em;
    }
}

/*==============================FIN FOOTER*/

/*===============================INFOWINDOW*/
.infowindow{
    display: flex;
    flex-direction: column;
}

.infoWindow-content div,.infowindow-fecha div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0.5rem;
}
.infowindow h4{
    font-size: 0.9rem;
    margin: 0;
    padding-right: 1rem;
    color: #444;
}

.infowindow span.mesura{
    font-weight: bold;
    color: black;
}

.infowindow span.cricle{
    font-weight: bold;

}




