/**
* Autor: Marc Castelló
* GTI Grupo 11
* Fecha: 10-05-2020
* listado-temporadas.css
* Hoja de estilos de listado-temporeadas.html
*/

:root {
    --primary-color: #830052;
    --primary-color-hover: #9c0063;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}


* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


body {
    font-size: 16px;
    background-image: url("../img/fondoApp.svg");
}
/*HEADER===============*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1 1 auto;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 5px grey;
    color: var(--primary-color);
    width: 100%;
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header h2 {
    font-size: 1rem;
    color: black;
}
@media  (max-width: 414px){
    header h1 {
        font-size: 1.8rem;
        font-weight: bold;
    }

    header h2 {
        font-size: 1rem;
        font-weight: bold;
    }
}

/*Seccion contenido ======================*/
.contenido{
    min-height: 80vh;
}

/*   Botón atás y balance neto total   */
.contenedor-atras{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.atras{
    width: 97px;
    height: 38px;
    border-radius: 150px;
    background-color: #820053;
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
}

.rectangle-balance {
    padding: 0.48rem;
    width: 146px;
    height: 58px;
    border-radius: 8px;
    border: 1px solid #9e9c9c;
    background-color: #f1f1f1;
    box-sizing: border-box;
    color: #333333;
    text-align: center;
    line-height: normal;
}

/* CONTENIDO */
.contenido{
    padding: 1rem;
}

.contenedor{
    height: 410px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d7d7d7;
    box-shadow: 0px 3px 5px #ccc;
    padding: 1rem;
}

.contenedor>input{
    display: block;
}

.no-borde{
    border: 0;
    width: 100%;
    font-weight: bold;
}

.contenedor>h2{
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 0.7rem;
}

.contenedor>p{
    font-size: 14px;
}

.row{
    padding: 0;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.row>div{
    padding-left: 0.7rem;
    padding-right: 0;
    display: flex;
}

.row>div>h2{
    font-size: 18px;
    font-weight: bold;
}

.col-sm-6>p{
    font-size: 1rem;
    padding-left: 0.7rem;
}

.parcela{
    display: flex;
    flex-direction: column;
}

.parcela>p{
    padding-left: 0px;
}

.contenedor > button {
    height: 40px;
    border-radius: 5px;
    border: 1px solid #820053;
    color: #830052;
    background-color: #ffffff;
    position: absolute;
    right: 1.3rem;
}

.editar{
    width: 97px;
    height: 50px;
    border: 1px solid #797979;
    border-radius: 17px;
    background-color: #830052;
    color: #ffffff;
    position: absolute;
    right: 1rem;
    margin: 1rem;
    margin-right: 0;
}

.contenedorBotones {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.formulario-enviar {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    background-color: #830052;
    color: #fff;
    box-shadow: 3px 3px 5px grey;
    position: absolute;
    right: 8rem;
    margin: 0;
    margin-top: 1rem;
}
.botonCliente:focus{
    outline: 0;
}
.formulario-cancelar {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #8c8c8c;
    background-color: #ffffff;
    color: #830052;
    box-shadow: 3px 3px 5px grey;
    position: absolute;
    right: 1rem;
    margin: 0;
    margin-top: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    .contenido{
        padding: 1rem;
        padding-right: 3rem;
    }
    .contenedor{
        /*width: 739px;*/
        height: 325px;
        background-color: #ffffff;
        border-radius: 5px;
        border: 1px solid #d7d7d7;
        box-shadow: 0px 3px 5px #ccc;
        padding: 1rem;
        padding-right: 2rem;
    }

    .contenedor > button {
        height: 40px;
        border-radius: 5px;
        border: 1px solid #820053;
        background-color: #ffffff;
        position: absolute;
        right: 3.7rem;
    }

    .contenedorBotones {
        font-size: 0.8rem;
        font-weight: bold;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        margin: 0.5rem auto;
        padding: 1rem;
    }

    .formulario-enviar {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #8c8c8c;
        background-color: #830052;
        color: #fff;
        box-shadow: 3px 3px 5px grey;
        position: absolute;
        right: 10rem;
        margin: 0;
        margin-top: 1rem;
    }
    .botonCliente:focus{
        outline: 0;
    }
    .formulario-cancelar {
        width: 100px;
        height: 40px;
        border-radius: 5px;
        border: 1px solid #8c8c8c;
        background-color: #ffffff;
        color: #830052;
        box-shadow: 3px 3px 5px grey;
        position: absolute;
        right: 3rem;
        margin: 0;
        margin-top: 1rem;
    }
}

/*===============================================*/
/*             MAQUETACIÓN DEL FOOTER            */
/*===============================================*/

footer {

    align-self: flex-end;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

