:root{
    --primary-color: #830052;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}
* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*Con el scroll-behavior: smooth, haremos una transición*/
    scroll-behavior: smooth;
}
button{
    border:none;
    background: none;
}

#titulo-form{
    font-size: 1.5rem;
    margin: 1rem 1rem 2rem 0;
}
form{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    border-bottom: 1px solid #797979;
    margin-bottom: 1rem;
}
.listForm{
    justify-content: center;

}
.pair{
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}
.pair label{
    margin-bottom: 0;
    margin-right: 1rem;
    width: 5.5rem;;
    vertical-align: center;
}

label{
    display: flex;

}

form h2{
    font-weight: 500;
    color: var(--text-color);
    text-align: left;
    line-height: normal;
    margin-bottom:  1rem;
}
form input{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f3f3f3f3;
    width: 100%;
    border: 0 solid #555555;
    border-bottom: 1px solid #555555;
    padding: 0.7rem;
    box-sizing: border-box;
}


.pair input{
    /*border: 1px var(--primary-color) solid;*/
}
form select{
    position: relative;
    display: block;
    padding: .4em 1.4em .3em .8em;
    /*max-width: 500px;*/
    min-width: 191px;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f3f3f3f3;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
form select::-ms-expand {
    display: none;
}
.form-item-obligatorio{
    min-width: 150px;
    font-weight: bold;
    background: none;
    color: red;
    margin: 0 0 0 0.5rem;
}

form select:hover {
    border: 2px solid ;
    border-color: var(--primary-color);
}

form input:focus{
    border-bottom: 2px solid #9c0063;
}
form.disabled input[type=text], form.disabled input[type=password], form.disabled select {
    background: rgba(0,0,0,0.2);
    pointer-events: none;
    opacity: 0.6;
}
.botones-form{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

#btn-formulario-enviar,.formulario-enviar {
    width: 140px;
    height: 2.8rem;
    border-radius: 5px;
    border: 1px solid;
    box-sizing: border-box;
    font-family: 'Roboto Bold', 'Roboto Regular', 'Roboto', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: normal;
    outline: 0;
    background: var(--primary-color);
    color: var(--fondo-color-1);
    margin: 1rem 0 0 0.5rem;
}
.cambiar-contra-cancelar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#btn-formulario-cancelar,.btn-formulario-cancelar {
    outline: 0;
    background: var(--fondo-color-1);
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    width: 6.875rem;
    justify-content: center;
    border-radius: 5px;
    height: 2.8rem;
    margin: 1rem 0 0 0.5rem;
}

.btn-formulario-cambiar-contra{
    /*width: auto;*/
    height: 2.8rem;
    background: var(--fondo-color-1);
    color: var(--primary-color);
    border: var(--primary-color) 1px solid;
    border-radius: 5px;
    margin: 1rem 0 0 0.5rem;
}

.form-tres-botones{
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
div.form-tres-botones input{
    margin: 0.5rem;
    max-width: fit-content;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
#errorForm,.errorForm {
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 0.5rem;
    border: rgba(255, 0, 0, 0.5) solid 1px;
    max-width: 278px;
    display: none;
}
#okForm{
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: rgba(0, 255, 0, 0.3);
    padding: 0.5rem;
    border: rgba(0, 255, 0, 0.5) solid 1px;
    max-width: 278px;
    display: none;
}
#formularioDetallesUsuario{
    align-items: start;
}
@media (min-width: 830px) {
    .listForm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    form select {
        width: 17rem;
    }


}


/*FORMULARIO PARCELAS*/
.contenido-sondas{
    margin: 2rem;
}
.field_wrapper{
    border: none;
    margin: 1rem 1rem 1rem 2rem;
}

.field_wrapper h2{
    padding-top: 1rem;
    font-size: 1.5rem;
}
.field_wrapper a{
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}
.field_wrapper .pair{
    justify-content: start;
    margin: 0 0 1rem;
    max-width: 400px;
    min-width: 280px;
    width: 100%;

}

.field_wrapper .pair label{
    font-weight: 500;
    width: 5rem;
}

/*Bloque vertices*/
.form-element{
    padding-top: 1rem;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}
.vertice-cont{
    color: var(--primary-color);
    font-weight: bold;
}
.form-element > div{
    margin: 1rem;
    max-width: 400px;
    min-width: 280px;
    width: 46%;
}

#form-element .pair input{
    width: 100%;
}
#form-element h2{
    font-size: 1.375rem;
}

.botones-form-parcela{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-end;
}
.btn-enviar-parcela{
    margin-right: 1rem;
}

.form-user{
    flex-direction: row;
    width: 100%;
}
.add_button{
    font-size: 1rem;
    color: var(--primary-color);
    padding-bottom: 1rem;
    font-weight: bold;
}
.add_button i{
    padding-right: 1rem;
    font-size: 1rem;
}
