/**
* Autor: Marc Castelló Martí
* GTI Grupo 11
* Fecha: 28-02-2020
* Index.css
* Landing page
**/


:root{
    --primary-color: #830052;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}


* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*Con el scroll-behavior: smooth, haremos una transición*/
    scroll-behavior: smooth;
}



h1 {
    font-size: 64px;
    font-weight: bold;
}

h2 {
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}

ul {
    padding: 0;
}

@media (max-width: 780px) {
    h1 {
        font-size: 50px;
    }

}

@media (max-width: 550px) {
    h1 {
        font-size: 40px;
    }

}

@media (max-width: 414px) {
    h1 {
        font-size: 30px;
    }

}

/*CLASE DEL SPAN PARA REMARCAR TEXTO IMPORTANTE*/
span.importante{
    color: var(--primary-color);
    font-weight: bold;
}

/*===============================================*/
/*MAQUETACION DE LA SECTION MAIN*/
/*===============================================*/
.main {
    background-image: url(../img/fondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    height: 78px;
    top: 0;
    left: 0;
}

/*Contenido de la sección*/

.texto_encabezado {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 32px;

}
.texto_encabezado h1{
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
}
/* Texto de reclamo */
.texto_encabezado > p {
    max-width: 500px;
    text-align: center;
    padding-top: 48px;
    padding-bottom: 128px;
    font-size: 24px;
    font-weight: bold;
    box-sizing: border-box;
    line-height: 29px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.65);
}

/*Sección botones header*/

.texto_encabezado_botones {

    display: flex;
    justify-content: center;
}

.CTA {
    cursor: pointer;
    color: white;
    width: 220px;
    height: 60px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    font-size: 22px;
    font-weight: bold;
}

.CTA:hover {
    background: #9c0063;
}

.flechabajar {
    position: absolute;
    top: 90%;
    left: 50%;
    display: block;
    width: 45px;
    height: 52px;
    text-align: center;
}

/*Flecha animada*/
.arrow-container {
    display: flex;
    justify-content: center;
}

.arrow {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 95%;
    transform-origin: 50% 95%;
    transform: translate3d(-50%, -5%, 0);
    display: flex;

}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}

.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 90%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*Fin flecha animada*/

/*media queries de la seccion main*/
@media (max-width: 780px) {

    /*2. cambiar la amplarea de los botones*/
    .texto_encabezado_botones {
        width: 450px;
    }

    /*3. quitar separacion de los botones al texto de reclamo*/
    .texto_encabezado > p {

    }

}

@media (max-width: 650px) {
    .encabezado > nav > ul > li > a {
        margin: 5px;
    }

    /*1. debemps esconder el menu del header en el menu de tres lineas
    2. cambiar la amplarea de los botones*/
    .texto_encabezado_botones {
        width: 450px;
    }

}

@media (max-width: 500px) {
    .encabezado > nav > ul > li > a {
        margin: 3px;
    }
}

@media (max-width: 414px) {
    .texto_encabezado > p {
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        padding-bottom: 64px;
    }

    .texto_encabezado_botones {
        width: 360px;
    }

    .CTA {
        font-size: 14px;
        width: 160px;
        height: 40px;
    }

    .encabezado {
        padding-top: 15px;
    }

    .encabezado > nav > ul {
        padding: 0;
    }

    .encabezado > nav > ul > li > a {
        margin: 2px;
    }

    .logo {
        height: 70px;
    }

}

@media (max-width: 360px) {

    .texto_encabezado > p {
        font-size: 14px;
    }

    .texto_encabezado_botones {
        width: 290px;
    }

    .encabezado {
        padding-top: 15px;
    }

    .encabezado > nav > ul > li > a {
        font-size: 11px;
    }
}

@media (min-height: 0px) {
    .main {
        height: 100vh;
    }
}

@media (min-width: 480px) and (orientation: landscape) {
    .main {
        min-height: 320px;
    }

    .texto_encabezado {
        padding-top: 64px;
    }

    .texto_encabezado > p {
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .CTA {
        font-size: 14px;
        width: 160px;
        height: 40px;
    }
}

@media (min-width: 560px) and (orientation: landscape) {
    .main {
        min-height: 360px;
    }

    .texto_encabezado {
        padding-top: 64px;
    }

    .texto_encabezado > p {
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .CTA {
        font-size: 14px;
        width: 160px;
        height: 40px;
    }
}

@media (min-width: 560px) and (orientation: landscape) {
    .main {
        min-height: 360px;
    }

    .texto_encabezado {
        padding-top: 64px;
    }

    .texto_encabezado > p {
        font-size: 16px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .CTA {
        font-size: 14px;
        width: 160px;
        height: 40px;
    }
}

@media (min-width: 680px) and (orientation: landscape) {
    .main {
        min-height: 680px;
    }

    .texto_encabezado {
        padding-top: 64px;
    }

    .texto_encabezado > p {
        font-size: 18px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 32px;
        padding-bottom: 48px;
    }

    .CTA {
        font-size: 18px;
        width: 200px;
        height: 50px;
    }
}

@media (min-width: 900px) and (orientation: landscape) {
    .main {
        height: 100vh;
    }

    .texto_encabezado > p {
        font-size: 22px;
        margin-left: 8px;
        margin-right: 8px;
        padding-top: 64px;
        padding-bottom: 128px;
    }

    .CTA {
        font-size: 22px;
        width: 240px;
        height: 60px;
    }
}

/*===============================================*/
/* FIN MAQUETACION DE LA SECTION MAIN*/
/*===============================================*/

/*===============================================*/
/* MAQUETACION DE LA SECTION CARACTERÍSTICAS*/
/*===============================================*/
.caracteristicas {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caracteristicas h1{

}
/**/
.contenido-caracteristicas {
    z-index: -1;/*Usar los cols de bootsrap hace que se coloquen en un z-index superior, con esto lo bajamos*/
    padding-top: 16px;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

/*Le damos una posicion a la imagen*/
.contenido-caracteristicas > img {
    max-width: 570px;

}

.contenido-caracteristicas > ul {
    list-style: none;
    padding-left: 16px;
    padding-bottom: 16px;
    padding-top: 8px;
}

/*Centramos las listas pequeñas de dentro*/
.contenido-caracteristicas > ul > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 24px;
}

/*Le damos un tamaño a las imagenes de los textos*/
.contenido-caracteristicas > ul > li > img {

    width: 71px;
    height: 65px;
}

.contenido-caracteristicas > ul > li > h3 {
    font-size: 24px;
    color: #333333;
    padding-left: 49px;
    text-align: left;
    line-height: normal;
}
/*CARACTERISTICAS TABLET*/
/*Quitamos la imagen*/
@media (max-width: 1199px) {
    .contenido-caracteristicas > img {
        display: none;

    }

    .contenido-caracteristicas > ul > li > h3 {
        font-size: 26px;

    }
}
/*CARACTERISTICAS MOVIL*/
/*Hacemos la letra más pequeña*/
@media (max-width: 520px) {
    .caracteristicas h2{
        font-size: 32px;
    }

    .contenido-caracteristicas > ul > li > h3 {
        font-size: 18px;

    }

    .contenido-caracteristicas > ul > li > img {

        width: 60px;
        height: 65px;
    }

    .contenido-caracteristicas > ul > li > h3 {
        padding-left: 32px;
    }
}
/*===============================================*/
/* FIN MAQUETACION DE LA SECTION CARACTERÍSTICAS*/
/*===============================================*/


/*===============================================*/
/*MAQUETACION DE LA SECTION NOSOTROS   */
/*===============================================*/
/*Version movil*/
.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nosotros > img {
    width: 100%;
    height: 140px;
}
.nosotros h2{
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.item-nosotros{
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: 0 auto;
}
.item-nosotros h3 {
    width: 150px;
    color: var(--primary-color);
    font-size: 22px;
    display: flex;
    justify-content: flex-start;
}
.subtitulo-1{
    padding-left: 3rem;
    padding-right: 3rem;
    text-align: justify;
    font-size: 1rem;
}
.subtitulo-1 p{
    max-width: 1246px;
    margin: 0 auto;
}
.subtitulo-2{
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: justify;
}
.cabezera-item-nosotro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}
.cabezera-item-nosotro h3{
    padding-left: 1rem;
    font-size: 22px;
    font-weight: bold;
}

.linea-divisoria {
    height: 1px;
    width: 60%;
    margin-left: 1rem;
    background: var(--text-color);
}

.nosotros .contenido{
    display: none;/*EN MOVIL NO ESTA*/
}

/*Carousel*/
.nosotros .carousel{
    width: 100%;
    padding: 1rem 1rem 2rem;
}
/*Cambiar el color de las flechas del carousel*/
.nosotros .carousel-control-next-icon,
.nosotros .carousel-control-prev-icon{
    height: 95px;

}
.nosotros .carousel-control-next-icon:after {
    margin: auto;
    content: '>';
    font-size: 55px;
    color: var(--text-color);
}
.nosotros .carousel-control-prev-icon:after {
    content: '<';
    margin: auto;
    font-size: 55px;
    color: var(--text-color);

}
.nosotros .carousel-indicators .active{
    background-color: var(--primary-color);
}
.nosotros .carousel-indicators li {
    background-color: var(--text-color);
}

/*Version tablet*/
@media (min-width: 550px) {

    .nosotros > img {
        height: 232px;
    }


    /*    Esconder el carousel y mostrarlos en bloque 2x2*/
    .nosotros .carousel{
        display: none;
    }

    .nosotros .contenido{
        display: flex;
        max-width: 1300px;
    }
    .nosotros .contenido-item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1rem;
    }

    .subtitulo-1{
        font-size: 1.18rem;/*==19px*/
    }

}
/*Version desktop*/
@media (min-width: 1064px) {

    .nosotros .contenido{
        padding-bottom: 2rem;
    }
    .nosotros .subtitulo-1{
        padding-bottom: 2rem;
    }
    .nosotros h2{

        font-size: 3rem;
    }
    .nosotros > img {
        width: 100%;
        height: 265px;
    }

    .nosotros .contenido-item{
        flex-direction: row;
    }
    .subtitulo-1{
        font-size: 1.37rem;/*==22px*/
    }
}

/*===============================================*/
/* FIN DE MAQUETACION DE LA SECTION NOSOTROS     */
/*===============================================*/

/*===============================================*/
/* MAQUETACION DE LA SECTION RESULTADOS          */
/*===============================================*/


/*Maquetación para movil*/
.resultados{
    background: var(--fondo-color-2);
}
/*Titulo*/
.resultados h2 {
    text-align: center;
    padding: 2rem 1rem 1rem;
    font-size: 2rem;
}
/*----------------------------------------------*/
/*ALINEACION ELEMENTOS OPINIONES*/
.opiniones ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

/*ELEMENTO: IMG y texto alineado en row*/
.opiniones  ul > li {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem;

}
/*Texto alineado en columna*/
.opiniones  ul > li > div {
    list-style: none;
    display: flex;
    flex-direction: column;
}
/*El titulo y el parrafo con margen*/
.opiniones  ul > li > div > * {
    margin: 0.25rem 0.25rem 0 1rem;
}
/*----------------------------------------------*/
.opiniones{
    max-width: 580px;
    margin: 0 auto;
}
.opiniones .name h3{
    color: black;
    font-weight: bold;
    font-size: 16px;
}
.opiniones .feedback {
    color: var(--text-color);
    margin-left: 16px;
    font-size: 14px;
}
.opiniones  img {
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
/*Imagen general en movil no esta*/
.contenido_resultado  .img-resultados{
   display: none;
}
/*RESPONSIVE TABLET*/
/*Aumentamos los tamaños*/
@media (min-width: 768px) {

    .resultados h2 {
        font-size: 48px;
    }
    .opiniones .name h3{
        font-size: 22px;
    }
    .opiniones .feedback {
        font-size: 18px;
    }
    .opiniones  img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    .opiniones{
        max-width: 700px;
        margin: 0 auto;
    }
}
/*Responsive desktop*/
@media (min-width: 1200px) {

    .contenido_resultado  .img-resultados {
        display: block;
        width: 402px ;
        height: 391px;

    }

    .opiniones{
        max-width: 100%;
        margin: 0 auto;
    }

    .opiniones  ul {
        padding: 0;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: inherit;
        margin: 0 auto;
    }
    .opiniones  ul li{
        padding: 2rem;
        max-width: 45%;
    }


    .opiniones .name h3{
        font-size: 21px;
    }
    .opiniones .feedback {
        font-size: 16px;
    }
    .opiniones  img {
        padding: 0;
        width: 72px;
        height: 75px;
        border-radius: 50%;
    }


}

/*===============================================*/
/* FIN MAQUETACIÓN DE LA SECTION RESULTADOS*/
/*===============================================*/


/*===============================================*/
/*             MAQUETACIÓN DE CONTACTO           */
/*===============================================*/
.contacto{
    background: var(--fondo-color-2);
    padding-bottom: 3rem;
}
/*Responsive movil  */
.contacto .contenido  ul {
    padding: 64px;
    list-style: none;
}
.contacto .img-contacto {
    background-repeat: no-repeat;
    width: 100%;
    height: 138px;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    background-position: center;
}

.contacto h2 {
    padding-top: 3.5rem;
    padding-bottom: 1.5rem;
    color: var(--primary-color);
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    width: 269px;
}

.contacto  .contenido {
    display: flex;
    flex-direction: column;
}

.contacto  .contenido  li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.contacto  .contenido li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}


.contacto  .contenido li > a :hover {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.contacto .contenido img {
    width: 88px;
}

.contacto  .contenido li  a > p {
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    max-width: 250px;
    padding-left: 1rem;
}


/*Version laptop*/
@media (min-width: 550px) {

    .contacto .img-contacto {
        height: 230px;
    }

    .contacto h2 {
        width: 100%;
        font-size: 40px;
    }

    .contacto .contenido img {
        /*tamaño del icono que vaya creciendo*/
        height: 117px;
        width: 229px;
    }
}

@media (min-width: 1000px) {

    .contacto .img-contacto {
        height: 350px;
    }

    /*pasamos la lista a fila y el contenido a columna*/
    .contacto .contenido{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }


    .contacto .contenido img {
        /*tamaño del icono que vaya creciendo*/
        height: 117px;
        width: 229px;
    }

    .contacto  .contenido li  a > p {
        font-size: 22px;
        max-width: 60%;
    }
}


/*===============================================*/
/* FIN MAQUETACIÓN DE LA SECTION CONTACTO        */
/*===============================================*/


/*===============================================*/
/*             MAQUETACIÓN DEL FOOTER            */
/*===============================================*/

footer {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #555555;
    padding: 2rem;
}

footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}


/*===============================================*/
/*                 HEADER                        */
/*===============================================*/

.logo {
    height: 78px;
    margin: 0.5rem;
}


#caja-flotante {
    z-index: 9999;
    width: 100%;
    position: fixed;
    padding: 0;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 5px black;
}
.navbar-light .navbar-toggler {
    margin: 0.5rem;
    color: rgba(0,0,0,.5);
    border: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.nav-item.actual{
    color: var(--primary-color);
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-right: 0.5rem;
}
/*ITEMS NAV*/
.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    box-shadow: none;
    transition: text-shadow 0.2s ease-in-out;
}

/*CAMBIAR ICON*/
.navbar-light .navbar-toggler-icon {
    background-image: url("../img/menu.svg");
}

.boton_menu_header{
    border-radius: 5px;
    border: none;
    padding:0.25rem;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.6s;
}

.boton_menu_header:hover {
    background-color: #830060;
}


/*APARECE EL BOTON DEL MENU A PARTIR DEL MD*/
@media (max-width: 760px) {


    /*ITEMS NAV*/
    /*EN EL DESPLEGABLE SON ITEMS BLANCOS Y EL INICIAR SESION MORADO*/
    .navbar-light .navbar-nav  {
        background: white;
        border-top: 1px solid;
        margin: 0;
    }
    .nav-item{
        width: 100%;
        padding: 0.5rem;
        border-bottom: 1px var(--primary-color) solid;
    }
    .nav-link{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-item:hover ,
    .nav-item.actual {
        background: var(--primary-color);
    }
    .nav-item:hover .nav-link{
        color: white;
        background: var(--primary-color);
    }
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-item.actual .nav-link{
        color: white;
        background: var(--primary-color);
    }


    /*quitamos las lineas divisoras*/
    .nav-item-separator{
        display: none;
    }

}
.nav-link> a:hover {
   color: initial;
}
/*Fin boton del menu desplegable*/
.menu_desplegable {
    top: -500px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}


.menu_desplegable > .Bmenu > ul {
    margin-top: 12px;
    padding: 0;
    width: 100%;
    height: 200px;
    background: white;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
}

.menu_desplegable > .Bmenu > ul > li {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
    height: 100%;
    border-top: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.li-flotante-destacado {
    background: var(--primary-color);
}

.menu_desplegable > .Bmenu > ul > li > a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

@media (max-width: 650px) {
    /*mostrar menu y esconder nav*/
    .logo {
        height: 60px;
    }

    .menu_barras {
        display: block;
    }

    .navegacion-flotante > ul > li {
        display: none;
    }

    .menu_desplegable {
        display: block;
    }

}


/*-------------------------------------*/

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 500ms;
    -moz-animation: fadeIn ease 500ms;
    -o-animation: fadeIn ease 500ms;
    -ms-animation: fadeIn ease 500ms;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

