/**
* Autor: Marc Castelló
* GTI Grupo 11
* Fecha: 10-05-2020
* listado-temporadas.css
* Hoja de estilos de listado-temporeadas.html
*/

:root {
    --primary-color: #830052;
    --primary-color-hover: #9c0063;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}


* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


body {
    font-size: 16px;
    background-image: url("../img/fondoApp.svg");
}
/*HEADER===============*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 0.5rem;
    background: white;
    box-shadow: 0 1px 5px grey;
    width: 100%;
}

.logo {
    height: 50px;
    margin: 0.5rem;
}

@media (min-width: 414px) {
    .logo {
        height: 62px;
    }
}
@media (min-width: 768px) {
    .logo {
        height: 78px;
    }
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
}

header h2 {
    font-size: 1rem;
    color: black;
}
@media  (max-width: 414px){
    header h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    header h2 {
        font-size: 1rem;
    }
}

/*Seccion contenido ======================*/
.contenido{
    min-height: 80vh;
}
@media (max-width: 414px) {
    .contenido{
        min-height: 100vh;
    }
}

/*   Botón atás y balance neto total   */
.contenedor-atras{
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem 1rem;
}
.contenedor-atras h1{
    font-size: 1.5rem;
    margin: 0;
    padding: 0 0 0 1rem;
    font-weight: bold;
}

.atras{
    color: var(--primary-color);
    box-sizing: border-box;
    text-align: center;
    line-height: normal;
    cursor: pointer;
}
.atras i{
    font-size: 1.3rem;
    font-weight: bolder;
}
@media (min-width: 1000px) {
    .contenedor-atras h1{
        font-size: 2rem;
    }
    .atras i {
        font-size: 1.6rem;
    }
}

.rectangle-balance {
    padding: 0.48rem;
    border-radius: 8px;
    border: 1px solid #9e9c9c;
    background-color: #f1f1f1;
    box-sizing: border-box;
    color: #333333;
    text-align: center;
    line-height: normal;
    margin-left: auto;
}
.rectangle-balance p{
    margin: 0;
    padding-left: 1rem;
}
.rectangle-balance .balance-linea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.3rem;
}
.rectangle-balance .balance-suma{
    border-bottom: 1px solid gray;
}
.rectangle-balance .balance-total{
    font-weight: bold;
}

/*Cambiar el color de los labels de los balances*/
.balance-positivo{
    font-weight: bold;
    color: #46B63C;
}
.balance-negativo{
    font-weight: bold;
    color: #B63C3C;
}

/*=====================================*/
/*Titulo*/
/*=====================================*/
#titulo-tabla{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
    padding-right: 2rem;
}


/*===============================================*/
/*                    BOTONES                    */
/*===============================================*/


/**/
.contenedorBotonesBuscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}


.salir{
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}
.salir>p{
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

}

@media (min-width: 768px) {
    .salir{
        font-size: 2rem;
    }
    .salir>p{
        font-size: 1.5rem;

    }
}



button{
    background: none;
    border: none;
}
button:focus{
    outline: none;
}

.btn{
    background: none;
    border: none;
}
.btn-secondary{
    background: none;
    border: none;
    color: black;
}
.btn:hover{
    background: none;
    border: none;
}
.btn-secondary:hover{
    background: none;
    border: none;
    color: black;
}
.btn:focus{
    background: none;
    border: none;
}
.btn-secondary:focus{
    background: none;
    border: none;
    color: black;
}


/*===============================================*/
/*             MAQUETACIÓN DE LA TABLE           */
/*===============================================*/
.lista{
    width: 100%;
    display: block;
    flex-direction: column;
}
.lista tr{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    min-height: 70px;
}

/*en movil escondemos las operaciones*/
.th-operaciones{
    display: none;
}
.listaOperaciones{
    display: none;
}
table{
    width: 100%;
}
/*diseño de los elementos de una tabla*/
.listaTbody tr{
    background-color: white;
    box-shadow: 0px 3px 5px #ccc;
    max-width: 100vw;
    border-radius: 2px;
    border: 1px solid #797979;
    margin-bottom: 0.65rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.listaTbody tr:hover{
    background: #f1f1f1;
    border: 1px solid var(--primary-color);
}

.listaTbody tr.no-activa{
    background: #9F9F9F;
    cursor: pointer;
}


th{
    cursor: pointer;
}
th i{
    align-items: end;
    padding-left: 0.2rem;
}
th,
.listaTbody td{
    width: 31%;
    text-align: center;
}

tr th{
    width: 27%;
}
.th-dos-items{
    text-align: start;
    min-width: 30%;
}
.listaTbody td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listaTbody .list-opereciones-un-elemento{
    min-width: fit-content;
}
.list-opereciones-un-elemento button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.listaTbody .list-opereciones{
    text-overflow: unset;
    min-width: 1%;
    width: 20%;

}
.listaTbody .list-opereciones {
    min-width: 22%;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.operaciones{
    display: block;
}
.th-operaciones{
    display: block;
}
.th-operaciones{
    display: block;
}
.listaOperaciones{
    display: block;
}
.listaOperaciones{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    text-align: center;
    margin: 0;
}
.label{
    display: none;
}

/*Ocultar flecha*/
#flecha-nombre-temp{
    display: none;
}
#flecha-fecha-temp{
    display: none;
}
#flecha-balance-temp{
    display: none;
}
/*PAGINADOR*/
.botones-paginador{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}
.botones-paginador i{
    color: var(--primary-color);
    font-size: 2rem;
}
.botones-paginador p{
    padding: 0;
    margin: 0 1rem;
}
.botones-paginador button:disabled i{
    color: #999;
}


@media (min-width: 768px) {
    tr th {
        min-width: 25%;
    }
    .listaTbody tr{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .th-dos-items{
        min-width: 24%;
        text-align: center;
    }

    th,
    .listaTbody td{
        flex: 1 0 22%;
        width: auto;
        text-align: center;
    }
    .listaTbody .list-opereciones-un-elemento{
        display: flex;
        min-width: 22%;
        text-align: center;
        justify-content: center;
    }

}

/* Botón eliminar y finalizar*/
.far{
    color: var(--primary-color);
}

@media (min-width: 768px) {
    .btn-list-element{
        display: flex;
        align-items: center;
        height: -webkit-fill-available;
        margin: 0.5rem;
    }
}

@media (min-width: 1150px) {
    .contenido{
        margin: 2rem 5rem 2rem 5.5rem;
    }
    tr th {
        min-width: 23%;
    }
    th,
    .listaTbody td{
        min-width: 22%;
        max-width: 22%;
        text-align: center;
    }

    .listaTbody .list-opereciones,.th-operaciones{
        min-width: 30%;
        max-width: 30%;
    }

    .listaTbody .list-opereciones-un-elemento{
        min-width: 30%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .listaTbody .list-opereciones-un-elemento .label {
        margin-left: 1rem;
    }

    .label{
        display: block;
        margin: 0;
        padding-left: 0.5rem;
    }

    .listaOperaciones button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .listaOperaciones i{
        color: var(--primary-color);
    }
    .listaOperaciones button:hover i{
        color: var(--primary-color-hover);
    }

}

@media (min-width: 768px){
    .contenido{
        margin-right: 1.8rem;
        margin-left: 1.8rem;
    }
}

/*SECCION CARGA*/
#carga {
    width: 100vw;
    height: 50vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}
/*SECTION ERROR*/
.error {
    display: none;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}
.error h1 {
    font-weight: bold;
    font-size: 2rem;

    color: var(--primary-color);
}


/*===============================================*/
/*             MAQUETACIÓN DEL FOOTER            */
/*===============================================*/

footer {

    align-self: flex-end;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}