/**
- Autor: Raúl Martín García, Rubén Pardo
- GTI Grupo 11
- Fecha: 25-2-2020
- Archivo: login-style.css
- Descripción: Estilo de la página del login
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html,body{
    margin:0;
    height:100%;
}

body {
    font-family: "Roboto", sans-serif;


    background-image: url(../img/fondoLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    margin-top: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}


/*==========================HEADER*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px black;
}

.logo {
    height: 50px;
    margin: 0.5rem;
}

@media (min-width: 414px) {
    .logo {
        height: 62px;
    }
}
@media (min-width: 768px) {
    .logo {
        height: 78px;
    }
}

/*========================FIN HEADER*/


/*=============================CONTENIDO*/
h2{
    margin: 0 auto;
    text-align: left;
    padding-bottom: 1rem;
}
.login-page {

    padding: 2rem;
    margin: 2rem;

    width: 72%;
    max-width: 450px;
    min-width: 372px;
    height: auto;

    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;

}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    margin-top: 0.5rem;
}

.login-form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    width: 100%;
    border: 0 solid #555555;
    border-bottom: 1px solid #555555;
    /* border-radius: 5px 5px 0 0; */
    margin-bottom: 1.8rem;
    padding: 0.7rem;
    box-sizing: border-box;
    font-size: 14px;
}
.login-form input:focus {
    border-bottom: 2px solid #9c0063;
}
.login-form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #830052;
    width: 100%;
    border-radius: 5px;
    font-weight: bolder;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.login-form button:hover, .login-form button:active, .login-form button:focus {
    background: #ad007b;
}


/*Para mostrar el error solo hay que hacer un "display: block;" a este mismo*/
.div-error {
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.3);
    padding: 0.5rem;
    border: rgba(255, 0, 0, 0.5) solid 1px;
    margin: 0 auto 1rem;
    display: none;
}
/*=============================FIN CONTENIDO*/

/*==============================FOOTER*/
footer {
    width: 100%;
    align-self: center;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}
/*==============================FIN FOOTER*/