
/*
*
* Autor: Marc Castelló Martí
* GTI Grupo 11
* Fecha: 11-05-2020
*
*/

:root{
    --primary-color: #830052;
    --primary-hover: #990053;
    --date-range-color: #f8ebf0;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}
* {
    font-family: "Roboto", sans-serif;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /*QUITAR EL FONDO AZUL AL CLICAR*/
}
/*QUITAR EL BORDE AZUL AL HACER FOCUS*/
*:focus{
    outline: none;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin: auto auto;
    width: 100%; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal form{
    border: none;
    margin: 0;
    padding-top: 0.5rem;
}
.modal form .pair{
    display: flex;
    width: -webkit-fill-available;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.modal form .pair p{
    color: red;
}

.modal form input{
    width: 100%;
    max-width: 640px;
}

.modal .botones-form  input{
    width: auto;
}

.radio-group-tipo-factura{
    width: 100%;
    max-width: 542px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio-group-tipo-factura input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 20px;
}
.radio-group-tipo-factura label{
    padding-left: 0.5rem;
}

.formulario-cancelar{
    position: absolute;
    right: 2rem;
}

.formulario-cambiar-contra{
    position: absolute;
    right: 10rem;
}

.modal-info{
    min-width: 300px;
    font-size: 0.85rem; /*12px*/
    color: #777;
}

.modal-info-obligatorio{
    min-width: 150px;
    font-size: 1rem;
    font-weight: bold;
    color: #ff0023;
    display: inline;
}

.modal form select{
    position: relative;
    display: block;
    padding: .4em 1.4em .3em .8em;
    max-width: 640px;
    min-width: 83px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--text-color);
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f3f3f3f3;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.modal form select::-ms-expand {
    display: none;
}
.modal form select:hover {
    border: 2px solid ;
    border-color: var(--primary-color);
}


/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    background-color: #fefefe;
    margin: 5% auto; /* 16% desde arriba y centrado */
    padding: 20px;
    border: 1px solid #888;
    width: 96%; /* Los modales que ocupen el 96% del ancho de la pantalla */
    max-width: 700px; /*Ancho máximo 700px*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header{
    display: flex;
    border: none;
    padding: 0 0 1rem;
    justify-content: space-between;
}
.modal-header i{
    font-size: 1.5rem;

}
.modal-header h2{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.modal-finalizar .modal-header h2{
    font-size: 1.3rem;
}

.modal-header .fas{
    color: var(--primary-color);
}

.modal-content ul{
    padding-left: 3%;
}
.modal-content li{
    padding: 0.5rem;
    min-height: 23px;
}

/* The Close Button */
.modal span {
    background: #830052;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    left: 1px;
    text-align: center;
    margin: 1rem;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
}


/*Modal finalizar temporada*/
.modal-finalizar .modal-content{
    max-width: 450px;

}
.modal-finalizar h2{
   color: var(--primary-color);
    font-weight: bold;
    text-align: left;
}

/*Modal crear temporada*/
/*MULTI SELECT*/
.modal#modal-crear-temporada span.check-mark, span.text{
    background: none;
    color: var(--text-color);
    line-height: normal;
    position: relative;
    text-align: center;
    margin: 0;
    left: 0;
    font-weight: normal;
    border-radius:0;
}
.modal#modal-crear-temporada .dropdown-item:active{
    text-decoration: none;
    background-color: var(--primary-hover);
}
.modal#modal-crear-temporada .dropdown-item:active span.text{
    color: white;
}
/*cambiar el focus del buscador del select*/
.modal#modal-crear-temporada  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: var(--primary-hover);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(131,0,82,.25);
}
/*BORDER DEL SELECT*/
.modal#modal-crear-temporada .bootstrap-select {
    border: 1px solid var(--primary-color);
    border-radius: 11px;
}
.modal#modal-crear-temporada .dropdown{
    width: 100%;
    max-width: 640px;
}

@media (min-width: 860px){
    .modal form input{
        width: 100%;
        max-width: 542px;
    }
    .modal form select{
        width: 100%;
        max-width: 542px;
    }
    .modal#modal-crear-temporada .dropdown{
        width: 100%;
        max-width: 542px;
    }
}


/*Date picker*/
#datepicker-temporada table tr td.active:active,
#datepicker-temporada table tr td.active.highlighted:active,
#datepicker-temporada table tr td.active.active,
#datepicker-temporada table tr td.active.highlighted.active {
    background-color: green;
}

/*MODAL CONCEPTO FACTURA*/

.modal#modal-detalles-factura h2{
    font-size: 1.5rem;
    text-align: start;
}
.modal#modal-detalles-factura .modal-text{
    padding-top: 1rem;
}
.modal .pair-factura{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.modal .pair-factura{
    padding-bottom: 1rem;
}
.modal .pair-factura h4, .modal .pair-factura p{
    margin: 0;
    word-break: break-word;
}
.modal .pair-factura h4{
    margin-right: 1rem;
}

.modal .pair-factura.total-factura{
    text-align: center;
    justify-content: flex-end;
    padding-top: 2rem;
}

#total-factura-modal{
    text-align: end;
    font-weight: bold;
    font-size: 1.3rem;
}
