:root {
    --primary-color: #830052;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}


* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /*Con el scroll-behavior: smooth, haremos una transición*/
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
    font-size: 16px;
    background-image: url("../img/fondoApp.svg");

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1 1 auto;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 5px grey;
    color: var(--primary-color);
    width: 100%;
}

header h1 {
    font-size: 1.7rem;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

header h2 {
    font-size: 1.5rem;
    font-weight: bold;
}
.contenido{
    min-height: 75vh;
}

/*===============================================*/
/*                    BOTONES                    */
/*===============================================*/
.salir{
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;
}

.salir>p{
    margin-bottom: 0;
    margin-right: 0.5rem;
    font-size: 1rem;

}
.contenedorBotones {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    margin: 0.5rem auto;
}

.botonCliente {
    width: 150px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #8c8c8c;
    background-color: #830052;
    color: #fff;
    box-shadow: 3px 3px 5px grey;
}
.botonCliente:focus{
    outline: 0;
}
.botonUsuariosEmpresa {
    width: 150px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #8c8c8c;
    background-color: #ffffff;
    color: #830052;
    box-shadow: 3px 3px 5px grey;
}
.botonUsuariosEmpresa:focus{
    outline: 0;
}
.contenedorBuscarAnyadir {
    width: 100%;
    display: flex;
    justify-content: center;
}
.anyadir{
    font-size: 32px;
    margin-left: 0.15rem;
    align-content: center;
    padding: 0;
    height: content-box;
    color: var(--primary-color);
}
.anyadir:focus{
    outline: 0;
}
.contenedorBuscarAnyadir > input {
    border-radius: 10px;
    border: 1px black solid;
    padding: 0.15rem;
    padding-left: 1rem;
    margin: auto 0;
    height: min-content;
}

.contenedorBuscarAnyadir > input:focus {
    border: 1.5px var(--primary-color) solid;
    outline: 0px;

}
button{
    background: none;
    border: none;
}
.btn{
    background: none;
    border: none;
}
.btn-secondary{
    background: none;
    border: none;
    color: black;
}
.btn:hover{
    background: none;
    border: none;
}
.btn-secondary:hover{
    background: none;
    border: none;
    color: black;
}
.btn:focus{
    background: none;
    border: none;
}
.btn-secondary:focus{
    background: none;
    border: none;
    color: black;
}

/*===============================================*/
/*             MAQUETACIÓN DE LA TABLE           */
/*===============================================*/

.contenedorListado {
    width: 100%;
    margin-top: 22px;
}

.contenedorListado tr {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
}

table {
    width: 100%;
}

th {
    color: #333333;
    font-weight: bold;
}
.lista tr{
    background-color: white;
}
.listaClientes tr{
    box-shadow: 0px 3px 5px #ccc;
    max-width: 100vw;
    border-radius: 2px;
    border: 1px solid #797979;
    margin-bottom: 0.65rem;
}

.listaClientes td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

tbody tr td {
    padding: 0.5rem;
    text-align: left;
}

.operaciones {
    display: none;
}

.listaOperaciones {
    display: none;
    list-style: none;
    padding-left: 0;
}
.listaOperaciones>li>button:focus{
    outline: 0;
}
.tresPuntos{
    color: var(--primary-color);
}
.listaOperaciones>li>button>i{
    color: var(--primary-color);
}
/*===============================================*/
/*                 MEDIA QUERY                   */
/*===============================================*/

@media (min-width: 768px){
    .contenido{
        margin: 0 1rem;
    }
    .contenedores{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.5rem;
    }
    
    .contenedorBotones{
        padding: 0;
        justify-content: flex-start;
    }
    
    .contenedorBuscarAnyadir{
        margin: 1rem 0;
        width: 60%;
    }
    
    .contenedorBuscarAnyadir input{
       height: 40px;
        width: 80%;
    }
    
    .anyadir{
        width: 10%;
    }
    
    th{
        width: 20%;
        text-align: center;
    }
    
    .operaciones{
        display: block;
        width: 40%;
    }
    
    .listaOperaciones{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 0;

    }
    .listaOperaciones button{
        font-size: 24px;
        padding: 0;
    }

    .tresPuntos{
        background: transparent;
        display: none;
    }
    
    .listaClientes td{
        min-width: 20%;
        text-align: center;
    }
    
    .elementosOperaciones{
        width: 40%;
    }
    .label{
        display: none;
    }
}

@media (max-width:440px){
    th{
        width: 30%;
    }
    

    header h1 {
        font-size: 1.3rem;
        font-weight: bold;
        text-overflow: ellipsis;
        overflow: hidden;
    }



    header h2 {
        font-size: 1.1rem;
        font-weight: bold;
    }
}

@media (min-width: 580px){
    .contenedores{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 0.5rem;
    }
    
    .contenedorBotones{
        padding: 0;
        justify-content: flex-start;
    }
    
    .contenedorBuscarAnyadir{
        margin: 0;
        width: 60%;
    }
    
    .contenedorBuscarAnyadir > input{
        height: 40px;
        width: 80%;
    }
    
    .anyadir{
        width: 10%;
    }
}

@media (min-width: 1080px) {
    .contenido{
        margin: 0 5rem;
    }
    .listaOperaciones button{
        display: flex;
        align-items: center;
        font-size: 16px;
    }
    .listaOperaciones i{
        margin-right: 0.5rem;
    }
    .label{
        display: flex;
        margin-bottom: 0;
    }

}



/*===============================================*/
/*             MAQUETACIÓN DEL FOOTER            */
/*===============================================*/

footer {

    align-self: flex-end;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}



footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}