/**
* Autor: Marc Castelló
* GTI Grupo 11
* Fecha: 10-05-2020
* panel-usuario-campo.css
* Hoja de estilos de panel-usuario-campo.html
*/

:root {
    --primary-color: #830052;
    --primary-color-hover: #9c0063;
    --text-color: #333333;
    /*fondo de las secciones*/
    --fondo-color-1: white;
    --fondo-color-2: #f2f2f2;
}


* {
    /*Esta será la letra que usaremos en nuestra página.*/
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    background-image: url("../img/fondoApp.svg");
}
/*HEADER===============*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 5px grey;
    width: 100%;
}

header h1 {
    color: var(--primary-color);
    font-size: 1.7rem;
    font-weight: bold;
}

header h2 {
    font-size: 1.3rem;
    font-weight: bold;
}
@media  (max-width: 414px){
    header h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    header h2 {
        font-size: 1rem;
        font-weight: bold;
    }
}


/*Jerarquia de paginas*/
.jerarquia ol{
    padding: 0.5rem;
    background: none;
    margin: 0;
}
.jerarquia li a{
    text-decoration: underline;
    font-weight: bold;
    color: var(--primary-color);
}
.jerarquia li.active a{
    text-decoration: none;
    font-weight: normal;
    color: var(--text-color);
}

/*Seccion contenido ======================*/
.contenido{
    flex: 1 1 auto;
}

/* Jerarquia */
.jerarquia{

}
.jerarquia{
    display: inline-block;
    background-color: #f2f2f2f2;
    border-radius: 5px;
    padding: 0 0.8rem;
    margin: 0 1rem;
    margin-top: 1rem;
}
.breadcrumb-item.active {
    color: var(--text-color);
    font-weight: bold;
}
.jerarquia a{
    color: var(--primary-color);
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
}

td i{
    color: var(--primary-color);
}




/*=====================================*/
/*Titulo*/
/*=====================================*/
#titulo-tabla{
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; /* number of lines to show */
    padding-right: 2rem;
}


/*===============================================*/
/*                    BOTONES                    */
/*===============================================*/


/**/
.contenedorBotonesBuscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}


.salir{
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
}
.salir>p{
    margin-bottom: 0;
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1rem;

}

@media (min-width: 768px) {
    .salir{
        font-size: 2rem;
    }
    .salir>p{
        font-size: 1.5rem;

    }
}

.contenedorBotones {
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    height: 40px;
    display: flex;
    margin: 0.5rem auto;
}

/*RADIO GROUP FILTRO ASIGNADOS O NO ASIGNADOS PANEL ADMIN DETALLES USUARIO*/
.contenedor-buscador-filtro{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#radio-group{
    padding: 1rem;
    display: flex;
    align-items: baseline;
}
#radio-group > *{
    padding-left: 1rem;
    padding-right: 1rem;
}
#radio-group p{
    margin: 0;
}


.contenedorTitulo{
    justify-self: start;
    width: 100%;
}
.botones{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    flex-wrap: wrap-reverse;
}



.botonCliente {
    width: 100%;
    max-width: 191px;
    background: white;
    height: 40px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #8c8c8c;
    color: var(--primary-color);
    box-shadow: 3px 3px 5px grey;
}
.botonCliente:focus{
    outline: 0;
}
.botonCliente.active{
    outline: 0;
    background: var(--primary-color);
    color: white;
}
.botonCliente:hover{
    background: var(--primary-color-hover);
    color: white;
}

.botonUsuariosEmpresa {
    width: 100%;
    max-width: 191px;
    height: 40px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #8c8c8c;
    background-color: #ffffff;
    color: #830052;
    box-shadow: 3px 3px 5px grey;
}
.botonUsuariosEmpresa:focus{
    outline: 0;
}
.botonUsuariosEmpresa.active{
    background: var(--primary-color);
    color: white;
}
.botonUsuariosEmpresa:hover{
    background: var(--primary-color-hover);
    color: white;
}

button{
    background: none;
    border: none;
}
.btn{
    background: none;
    border: none;
}
.btn-secondary{
    background: none;
    border: none;
    color: black;
}
.btn:hover{
    background: none;
    border: none;
}
.btn-secondary:hover{
    background: none;
    border: none;
    color: black;
}
.btn:focus{
    background: none;
    border: none;
}
.btn-secondary:focus{
    background: none;
    border: none;
    color: black;
}

/*===============================================*/
/*             MAQUETACIÓN DEL BUSCADOR          */
/*===============================================*/

#buscar-secundario{
    display: none;

}
.contenedorBuscarAnyadir{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 383px;
    flex: 1 1 auto;
    margin: 1rem;
    border-radius: 10px;
    font-size: 0.8rem;
    border: 1px #757474 solid;


}
/*input*/
.buscador-lista {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
}

/*icono del buscador*/
.contenedorBuscarAnyadir  i{
    color: #757474;
    font-size: 1rem;
    margin-left: 1rem;
}
/*cuando uno de sus hijo tenga el foco (el input)*/
.contenedorBuscarAnyadir:focus-within {
    border: 1.5px var(--primary-color) solid;
    outline: 0px;

}

.anyadir{
    display: flex;
    position: fixed;
    right: 1em;
    bottom: 3em;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 5px;
    background: var(--primary-color);
    width: auto;
    height: 46px;
    color: white;

    box-shadow: 2px 2px 5px rgba(0,0,0,0.85);
}
.anyadir:focus{
    outline: 0;
}
.anyadir:hover{
    cursor: pointer;
    background: var(--primary-color-hover);
}

/*Icono del boton de anyadir*/
.anyadir i, .anyadir img{
    font-size: 1rem;
    padding-right: 1rem;
}
.anyadir p {
    margin: 0;
}

@media (min-width: 768px) {
    .contenedorBotonesBuscar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 1rem;
    }
    .contenedorBuscarAnyadir{
        margin-left: 1.5rem;
    }

    .contenedorBotones{
        font-size: 0.8rem;
        width: 100%;
        max-width: 400px;
        height: 40px;
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .contenedorTitulo{
        padding-left: 1rem;
        justify-content: start;
    }
    .botones{
        justify-content: space-between;

    }
}


/*===============================================*/
/*             MAQUETACIÓN DE LA TABLE           */
/*===============================================*/
.lista{
    width: 100%;
    display: none;
    flex-direction: column;
}
.lista tr{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    min-height: 70px;
}

/*en movil escondemos las operaciones*/
.th-operaciones{
    display: none;
}
.listaOperaciones{
    display: none;
}
table{

    margin-top: 1rem;
    width: 100%;
}
/*diseño de los elementos de una tabla*/
.listaTbody tr{
    background-color: white;
    box-shadow: 0 3px 5px #ccc;
    max-width: 100vw;
    border-radius: 2px;
    border: 1px solid #797979;
    margin-bottom: 0.65rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.listaTbody .campo-no-asignado{
    background: #c8c6c6!important;
}
th{
    cursor: pointer;

}
tr th{
    width: 27%;
}
th i{
    display: none;
    align-items: end;
    padding-left: 0.2rem;
}
th,
.listaTbody td{
    width: 31%;
    text-align: center;
}

.th-dos-items{
    text-align: start;
    width: 30%;
}
.listaTbody td{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listaTbody .list-opereciones-un-elemento{
    min-width: fit-content;
}
.list-opereciones-un-elemento button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.listaTbody .list-opereciones{
    text-overflow: unset;
    min-width: 1%;
    width: 20%;

}
.tresPuntos{
    width: auto;
    padding: 0;
}
.label{
    display: none;
}
/*Ocultamos flechas*/
#flecha-nombre-cliente{
    display: none;
}
#flecha-apellido-cliente{
    display: none;
}
#flecha-correo-cliente{
    display: none;
}
#flecha-nombre-usuario{
    display: none;
}
#flecha-apellido-usuario{
    display: none;
}
#flecha-correo-usuario{
    display: none;
}
#flecha-rol-usuario{
    display: none;
}
#flecha-nombre-campo{
    display: none;
}
#flecha-desc-campo{
    display: none;
}
#flecha-nombre-tecnico{
    display: none;
}
#flecha-correo-tecnico{
    display: none;
}
#flecha-descripcion-campo{
    display: none;
}
#flecha-fecha-campo{
    display: none;
}
#flecha-nombre-parcela{
    display: none;
}
#flecha-descripcion-parcela{
    display: none;
}
#flecha-fecha-parcela{
    display: none;
}
#flecha-nombre-sonda{
    display: none;
}
#flecha-lat-sonda{
    display: none;
}
#flecha-lng-sonda{
    display: none;
}
/*PAGINADOR*/
.contenedor-botones-paginador{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 1rem 3rem;
    flex-wrap: wrap;
}
.botones-paginador{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem 1rem 2rem;
}
.botones-paginador i{
    color: var(--primary-color);
    font-size: 2rem;
}
.botones-paginador p{
    padding: 0;
    margin: 0 1rem;
}
.botones-paginador button:disabled i{
    color: #999;
}
/*-----------------------------
DROPDOWN OPERACIONES MOBIL
-----------------------------*/
/*EL DROP DOWN TIENE DOS BOTONES ESCONDEMOS UNO*/
i.tresPuntos {
    visibility: hidden;
    overflow: hidden;
    text-overflow: clip;
    white-space: unset;
}
button i.tresPuntos{
    visibility: inherit;
}
.dropdown-menu{
    visibility: initial;
}
.dropdown-menu div button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.dropdown-menu div button p{
    margin: 0;
    padding-left: 0.5rem;
}
/*QUITAMOS LA FLECHA POR DEFECTO*/
.dropdown-toggle::after {
    display:none;
}
.dropdown-toggle::before {
    display:none;
}


@media (min-width: 768px) {
    tr th {
        min-width: 25%;
    }
    .listaTbody tr, tbody tr{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    th,
    .listaTbody td{
        flex: 1 0 22%;
        width: auto;
        text-align: center;
    }

    .th-dos-items{
        min-width: 24%;
        text-align: center;
    }

    .listaTbody .list-opereciones-un-elemento{
        display: flex;
        min-width: 22%;
        text-align: center;
        justify-content: center;
    }
    .listaTbody .list-opereciones {
        min-width: 22%;
        text-align: center;
    }
    .operaciones{
        display: block;
    }
    .th-operaciones{
        display: block;
    }
    .tresPuntos{
        display: none !important;
    }
    .th-operaciones{
        display: block;
    }
    .listaOperaciones{
        display: block;
    }
    .listaOperaciones{
        width: auto;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 0;
        text-align: center;
        margin: 0;
    }
}
@media (min-width: 1150px) {
    .contenido{
        margin: 2rem;
    }

    tr th {
        min-width: 23%;
    }
    th,
    .listaTbody td{
        min-width: 22%;
        max-width: 22%;
        text-align: center;
    }

    .listaTbody .list-opereciones,.th-operaciones{
        min-width: 30%;
        max-width: 30%;
    }

    .listaTbody .list-opereciones-un-elemento{
        min-width: 30%;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .listaTbody .list-opereciones-un-elemento .label {
        margin-left: 1rem;
    }

    .label{
        display: block;
        margin: 0;
        padding-left: 0.5rem;
    }

    .listaOperaciones button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .listaOperaciones i{
        color: var(--primary-color);
    }
    .listaOperaciones button:hover i{
        color: var(--primary-color-hover);
    }

}

/*SECCION CARGA*/
#carga {
    width: 100vw;
    height: 50vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}
/*SECTION ERROR*/
.error {
    display: none;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}
.error h1 {
    font-weight: bold;
    font-size: 2rem;

    color: var(--primary-color);
}


/*===============================================*/
/*             MAQUETACIÓN DEL FOOTER            */
/*===============================================*/

footer {

    align-self: flex-end;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}
footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}

/*=================================================*/
/*                  MAQUETACION MAPA               */
/*=================================================*/

.container-mapa{
    display: flex;
    flex-direction: column;

}
#mapa{
    width: 100%;
    height: 75vh;
    display: block;
    animation-direction: alternate;

}

#mapa.aparecer{

    overflow: hidden;
    -moz-animation: aparecer 1s ease  forwards;
    -webkit-animation: aparecer 1s ease forwards;
    -o-animation: aparecer 1s ease  forwards;
    -ms-animation: aparecer 1s ease  forwards;
    animation: aparecer 1s ease forwards;
}
#mapa.desaparecer{
    overflow: hidden;
    -moz-animation: desaparecer 0.5s ease  forwards;
    -webkit-animation: desaparecer 0.5s ease forwards;
    -o-animation: desaparecer 0.5s ease  forwards;
    -ms-animation: desaparecer 0.5s ease  forwards;
    animation: desaparecer 0.5s ease forwards;
}


/*APARECER*/
@-moz-keyframes aparecer /* Firefox */
{
    from {height: 0;}
    to {height: 75vh}
}
@-webkit-keyframes aparecer /* Safari and Chrome */
{
    from {height: 0;}
    to {height: 75vh}
}
@-ms-keyframes aparecer /* IE10 */
{
    from {height: 0;}
    to {height: 75vh}
}
@keyframes aparecer
{
    from {height: 0;}
    to {height: 75vh}
}
/*DESAPARECER*/
@-moz-keyframes desaparecer /* Firefox */
{
    from {height: 75vh}
    to {height: 0;}
}
@-webkit-keyframes desaparecer /* Safari and Chrome */
{

    from {height: 75vh}
    to {height: 0;}
}
@-ms-keyframes desaparecer /* IE10 */
{
    from {height: 75vh}
    to {height: 0;}
}
@keyframes desaparecer
{
    from {height: 75vh}
    to {height: 0;}
}


.row-mapa{
    display: flex;
    justify-content: center;
}
.boton-mapa{
    background: white;
    padding: 0.5rem;
    border-top: 1px solid #888;
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: solid var(--primary-color);
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;


}
.boton-mapa:focus{
    outline: none;
}



@media (max-width: 1200px){
    .boton-mapa #textoMapa{
        margin-left: 32px;
    }
    .boton-mapa #flecha{
        margin-right: 32px;
    }
}

.boton-mapa:hover{
    color: var(--primary-color-hover);
    border-bottom: solid var(--primary-color-hover);
    box-shadow: 0px 2px #cbcbc7;
}
