/**
* Autor: Rubén Pardo
* GTI Grupo 11
* Fecha: 16-03-2020
* panel-usuario-campo.css
* Hoja de estilos de panel-usuario-campo.html
*/
* {
    font-family: "Roboto", sans-serif;
}

h1 {
    color: #820053;
}


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

/*BODY*/
body {
    margin: 0;
    background-image: url("../img/fondoApp.svg");
}

/*HEADER*/
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 0 1px 4px;
}
header img {
    width: 110px;
    height: 58px;
    margin: 1rem;
}
header button img {
    width: 110px;
    height: 30px;
    margin: 1rem;
}

header button {
    text-shadow: none;
    border: none;
    background: none;
    cursor: pointer;
    color: #820053;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header button img {
    max-width: 32px;
    margin-left: 1rem;
}

/*SECTION CONTENIDO*/
.contenido {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: auto;

}
.buscador{
    margin: 1rem;
    border-radius: 20px;
    padding: 5px;
    border: solid gray 1px;
    width: 30%;
}
.buscador:focus{
    border: #820053 solid 1px;
}
@media (max-width: 800px) {
    .contenido{
        width: inherit;
    }
    .buscador{
        width: 50%;
    }
}
.contenido h1, p {
    margin: 1rem 1rem 1rem 1rem;
}

.contenido-items {
    padding: 1rem 1rem 3rem;
}

/*ELEMENTO CAMPO*/
.contenido-item {
    margin: 1rem;

}

.card__img {
    visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25%; /*329*/
    height: 244px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card__info-hover {
    position: absolute;
    width: 100%;
    opacity: 0;
    top: 0;
}

.card__img--hover {
    transition: 0.2s all ease-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
    height: 235px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    top: 0;

}

.card {
    flex-grow: 1;
    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
    background-color: #fff;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
    min-width: 30%;

}

@media (max-width: 414px) {
    .row{
        margin: 0;
    }
    .contenido {
        padding-left: 0;
        padding-right: 0;
    }

    .contenido h1, p {
        margin: 1rem 1rem 1rem 1rem;
    }
    .buscador{
        margin-left: 20%;
        width: 60%;
    }

    .card__info {
        padding: 0.25rem;
        font-size: 14px;
    }

    .contenido-item {
        margin: 0.5rem;

    }

    .contenido-items {
        justify-content: center;
        width: 100%;
        padding: 0;
    }

}
@media (max-width: 992px) {
    .card{
        min-width: 45%;
    }
}
@media (max-width: 678px) {
    .card{
        min-width: 40%;
    }
}
@media (max-width: 414px) {
    .card{
        min-width: 80%;
    }
}

.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.10, 1.10);
}

.card__info {
    z-index: 2;
    background-color: #fff;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 16px 24px 24px 24px;
}

.card__title {
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #820053;
    font-weight: bold;
}

.card__desc {
    text-decoration: none;
}


.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

/*SECTION CARGAR*/
.cargar {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}

/*SECTION NO CAMPO*/
.no-campo {
    display: none;
    /*CUANDO SE MUESTRE HAY QUE PONER DISPLAY: FLEX*/
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
    max-width: 500px;
}

.no-campo img {
    display: block;
    padding-left: 5.5rem;
    max-width: 400px;
}

.no-campo h1 {
    font-weight: bold;
    font-size: 2rem;
}

.boton-importante {
    cursor: pointer;
    border-radius: 17px;
    background: #820053;
    color: white;
    padding: 1rem;
    width: 170px;
    border: none;
}

.boton-importante:hover {
    background: #a40072;
}

/*SECTION ERROR*/
.error {
    display: none;
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 8rem;
    text-align: center;
}

.error h1 {
    font-weight: bold;
    font-size: 2rem;
}

/*==============================FOOTER*/
footer {

    align-self: flex-end;
    display: flex;
    align-items: center;
    background: #555555;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
}

footer p {
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: center;
}
/*==============================FIN FOOTER*/