.col-noGap-OneForth:hover {
    transition: box-shadow 0.5s;
    cursor: pointer;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.65);
    z-index: 2;
    position: relative;
}
.col-noGap-OneForth.last {
    z-index: 1;
}
.col-noGap-OneForth.last:hover {
    box-shadow: none;
    cursor: initial;
}
.col-noGap-OneForth.last:hover::before {
    display: none;
}

.viewItem {
    -webkit-order: 1000;
    order: 1000;
}

html *, html *:after, html *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

h1, h2, h3, p, div, header, footer, section, article, ul, aside, img {
    margin-bottom: 1em;
    margin-bottom: 2vw;
}

div.wrap {
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .fixedWidthAbove1200 > header .flexRowWrap,
    .fixedWidthAbove1200 > footer .flexRowWrap,
    .fixedWidthAbove1200 > main.wrap, .fixedWidthAbove1200 > div.wrap {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .fixedWidthAbove1200 > .wrap.multiRow {
        width: 1220px;
    }
}

.wrap {
    width: 95.9183673469%;
    margin-left: auto;
    margin-right: auto;
}

.fullWidth {
    width: 100%;
}

.wrapInset {
    padding: 2.1276595745%;
    margin: 0;
}

.flexRowWrap {
    *zoom: 1;
}
.flexRowWrap:before, .flexRowWrap:after {
    content: " ";
    display: table;
}
.flexRowWrap:after {
    clear: both;
}
.flexRowWrap > [class*='col-'], .flexRowWrap [class*='col-'] *:last-child, .flexRowWrap > .multiCol, .flexRowWrap .multiCol *:last-child {
    margin: 0;
}
.flexbox .flexRowWrap {
    *zoom: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-direction: row;
    -ms-flex-wrap: wrap;
    -moz-flex-direction: row;
    -moz-flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -moz-align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-box-pack: space-between;
    -moz-box-pack: space-between;
    -ms-flex-pack: space-between;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flexbox .flexRowWrap:before, .flexbox .flexRowWrap:after {
    display: none;
}
.flexbox .flexRowWrap > [class*='col-'] *, .flexbox .flexRowWrap > .multiCol * {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flexRowWrap .col-1, .flexRowWrap .col-2, .flexRowWrap .col-3, .flexRowWrap .col-4, .flexRowWrap .col-5, .flexRowWrap .col-6, .flexRowWrap .col-7, .flexRowWrap .col-8, .flexRowWrap .col-9, .flexRowWrap .col-10, .flexRowWrap .col-11, .flexRowWrap .col-12 {
    float: left;
    width: 100%;
    width: 100%;
    margin-bottom: 1em;
    margin-bottom: 2vw;
}
.flexbox .flexRowWrap .col-1, .flexbox .flexRowWrap .col-2, .flexbox .flexRowWrap .col-3, .flexbox .flexRowWrap .col-4, .flexbox .flexRowWrap .col-5, .flexbox .flexRowWrap .col-6, .flexbox .flexRowWrap .col-7, .flexbox .flexRowWrap .col-8, .flexbox .flexRowWrap .col-9, .flexbox .flexRowWrap .col-10, .flexbox .flexRowWrap .col-11, .flexbox .flexRowWrap .col-12 {
    float: none;
}
.flexbox .flexRowWrap .col-1, .flexbox .flexRowWrap .col-2, .flexbox .flexRowWrap .col-3, .flexbox .flexRowWrap .col-4, .flexbox .flexRowWrap .col-5, .flexbox .flexRowWrap .col-6, .flexbox .flexRowWrap .col-7, .flexbox .flexRowWrap .col-8, .flexbox .flexRowWrap .col-9, .flexbox .flexRowWrap .col-10, .flexbox .flexRowWrap .col-11, .flexbox .flexRowWrap .col-12 {
    width: auto;
    -moz-flex: 1 1 100%;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
}
.flexRowWrap .col-1 .childrenPadding, .flexRowWrap .col-2 .childrenPadding, .flexRowWrap .col-3 .childrenPadding, .flexRowWrap .col-4 .childrenPadding, .flexRowWrap .col-5 .childrenPadding, .flexRowWrap .col-6 .childrenPadding, .flexRowWrap .col-7 .childrenPadding, .flexRowWrap .col-8 .childrenPadding, .flexRowWrap .col-9 .childrenPadding, .flexRowWrap .col-10 .childrenPadding, .flexRowWrap .col-11 .childrenPadding, .flexRowWrap .col-12 .childrenPadding {
    padding: 2.1276595745%;
}
.flexRowWrap .col-1:last-child, .flexRowWrap .col-2:last-child, .flexRowWrap .col-3:last-child, .flexRowWrap .col-4:last-child, .flexRowWrap .col-5:last-child, .flexRowWrap .col-6:last-child, .flexRowWrap .col-7:last-child, .flexRowWrap .col-8:last-child, .flexRowWrap .col-9:last-child, .flexRowWrap .col-10:last-child, .flexRowWrap .col-11:last-child, .flexRowWrap .col-12:last-child {
    margin: 0;
}
.flexRowWrap .col-1 *, .flexRowWrap .col-2 *, .flexRowWrap .col-3 *, .flexRowWrap .col-4 *, .flexRowWrap .col-5 *, .flexRowWrap .col-6 *, .flexRowWrap .col-7 *, .flexRowWrap .col-8 *, .flexRowWrap .col-9 *, .flexRowWrap .col-10 *, .flexRowWrap .col-11 *, .flexRowWrap .col-12 * {
    float: left;
    width: 100%;
    width: 100%;
}
.flexbox .flexRowWrap .col-1 *, .flexbox .flexRowWrap .col-2 *, .flexbox .flexRowWrap .col-3 *, .flexbox .flexRowWrap .col-4 *, .flexbox .flexRowWrap .col-5 *, .flexbox .flexRowWrap .col-6 *, .flexbox .flexRowWrap .col-7 *, .flexbox .flexRowWrap .col-8 *, .flexbox .flexRowWrap .col-9 *, .flexbox .flexRowWrap .col-10 *, .flexbox .flexRowWrap .col-11 *, .flexbox .flexRowWrap .col-12 * {
    float: none;
}
@media (min-width: 1px) {
    .flexRowWrap .col-12 {
        float: left;
        width: 100%;
        width: 100%;
    }
    .flexbox .flexRowWrap .col-12 {
        float: none;
    }
    .flexbox .flexRowWrap .col-12 {
        width: auto;
        -moz-flex: 1 1 100%;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }
    .flexRowWrap .col-12 .childrenPadding {
        padding: 2.1276595745%;
    }
    .flexRowWrap .col-11 {
        float: left;
        width: 100%;
        width: 91.4893617021%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-11 {
        float: none;
    }
    .flexRowWrap .col-11:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-11:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-11:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-11 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-11 {
        width: auto;
        -moz-flex: 0 1 91.4893617021%;
        -webkit-flex: 0 1 91.4893617021%;
        -ms-flex: 0 1 91.4893617021%;
        flex: 0 1 91.4893617021%;
    }
    .flexRowWrap .col-11 .childrenPadding {
        padding: 2.3255813953%;
    }
    .flexRowWrap .col-10 {
        float: left;
        width: 100%;
        width: 82.9787234043%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-10 {
        float: none;
    }
    .flexRowWrap .col-10:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-10:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-10:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-10 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-10 {
        width: auto;
        -moz-flex: 0 1 82.9787234043%;
        -webkit-flex: 0 1 82.9787234043%;
        -ms-flex: 0 1 82.9787234043%;
        flex: 0 1 82.9787234043%;
    }
    .flexRowWrap .col-10 .childrenPadding {
        padding: 2.5641025641%;
    }
    .flexRowWrap .col-9 {
        float: left;
        width: 100%;
        width: 74.4680851064%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-9 {
        float: none;
    }
    .flexRowWrap .col-9:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-9:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-9:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-9 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-9 {
        width: auto;
        -moz-flex: 0 1 74.4680851064%;
        -webkit-flex: 0 1 74.4680851064%;
        -ms-flex: 0 1 74.4680851064%;
        flex: 0 1 74.4680851064%;
    }
    .flexRowWrap .col-9 .childrenPadding {
        padding: 2.8571428571%;
    }
    .flexRowWrap .col-8 {
        float: left;
        width: 100%;
        width: 65.9574468085%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-8 {
        float: none;
    }
    .flexRowWrap .col-8:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-8:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-8:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-8 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-8 {
        width: auto;
        -moz-flex: 0 1 65.9574468085%;
        -webkit-flex: 0 1 65.9574468085%;
        -ms-flex: 0 1 65.9574468085%;
        flex: 0 1 65.9574468085%;
    }
    .flexRowWrap .col-8 .childrenPadding {
        padding: 3.2258064516%;
    }
    .flexRowWrap .col-7 {
        float: left;
        width: 100%;
        width: 57.4468085106%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-7 {
        float: none;
    }
    .flexRowWrap .col-7:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-7:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-7:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-7 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-7 {
        width: auto;
        -moz-flex: 0 1 57.4468085106%;
        -webkit-flex: 0 1 57.4468085106%;
        -ms-flex: 0 1 57.4468085106%;
        flex: 0 1 57.4468085106%;
    }
    .flexRowWrap .col-7 .childrenPadding {
        padding: 3.7037037037%;
    }
    .flexRowWrap .col-6 {
        float: left;
        width: 100%;
        width: 48.9361702128%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-6 {
        float: none;
    }
    .flexRowWrap .col-6:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-6:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-6:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-6 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-6 {
        width: auto;
        -moz-flex: 0 1 48.9361702128%;
        -webkit-flex: 0 1 48.9361702128%;
        -ms-flex: 0 1 48.9361702128%;
        flex: 0 1 48.9361702128%;
    }
    .flexRowWrap .col-6 .childrenPadding {
        padding: 4.347826087%;
    }
    .flexRowWrap .col-5 {
        float: left;
        width: 100%;
        width: 40.4255319149%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-5 {
        float: none;
    }
    .flexRowWrap .col-5:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-5:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-5:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-5 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-5 {
        -moz-flex: 0 1 40.4255319149%;
        -webkit-flex: 0 1 40.4255319149%;
        -ms-flex: 0 40.4255319149%;
        flex: 0 1 40.4255319149%;
    }
    .flexRowWrap .col-5 .childrenPadding {
        padding: 5.2631578947%;
    }
    .flexRowWrap .col-4 {
        float: left;
        width: 100%;
        width: 31.914893617%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-4 {
        float: none;
    }
    .flexRowWrap .col-4:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-4:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-4:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-4 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-4 {
        -moz-flex: 0 1 31.914893617%;
        -webkit-flex: 0 1 31.914893617%;
        -ms-flex: 0 31.914893617%;
        flex: 0 1 31.914893617%;
    }
    .flexRowWrap .col-4 .childrenPadding {
        padding: 6.6666666667%;
    }
    .flexRowWrap .col-3 {
        float: left;
        width: 100%;
        width: 23.4042553191%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-3 {
        float: none;
    }
    .flexRowWrap .col-3:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-3:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-3:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-3 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-3 {
        -moz-flex: 0 1 23.4042553191%;
        -webkit-flex: 0 1 23.4042553191%;
        -ms-flex: 0 23.4042553191%;
        flex: 0 1 23.4042553191%;
    }
    .flexRowWrap .col-3 .childrenPadding {
        padding: 9.0909090909%;
    }
    .flexRowWrap .col-2 {
        float: left;
        width: 100%;
        width: 14.8936170213%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-2 {
        float: none;
    }
    .flexRowWrap .col-2:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-2:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-2:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-2 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-2 {
        -moz-flex: 0 1 14.8936170213%;
        -webkit-flex: 0 1 14.8936170213%;
        -ms-flex: 0 14.8936170213%;
        flex: 0 1 14.8936170213%;
    }
    .flexRowWrap .col-2 .childrenPadding {
        padding: 14.2857142857%;
    }
    .flexRowWrap .col-1 {
        float: left;
        width: 100%;
        width: 6.3829787234%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-1 {
        float: none;
    }
    .flexRowWrap .col-1:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-1:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-1:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-1 {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-1 {
        -moz-flex: 0 1 6.3829787234%;
        -webkit-flex: 0 1 6.3829787234%;
        -ms-flex: 0 6.3829787234%;
        flex: 0 1 6.3829787234%;
    }
    .flexRowWrap .col-1 .childrenPadding {
        padding: 33.3333333333%;
    }
    .flexRowWrap .col-noGap-OneHalf {
        float: left;
        width: 100%;
        width: 50%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneHalf {
        float: none;
    }
    .flexRowWrap .col-noGap-OneHalf:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-noGap-OneHalf:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-noGap-OneHalf:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneHalf {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneHalf {
        width: auto;
        -moz-flex: 1 1 50%;
        -webkit-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    }
    .flexRowWrap .col-noGap-OneHalf .childrenPadding {
        padding: 4.1666666667%;
    }
    .flexRowWrap .col-noGap-OneThird {
        float: left;
        width: 100%;
        width: 33.3333333333%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneThird {
        float: none;
    }
    .flexRowWrap .col-noGap-OneThird:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-noGap-OneThird:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-noGap-OneThird:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneThird {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneThird {
        width: auto;
        -moz-flex: 1 1 33.3333333333%;
        -webkit-flex: 1 1 33.3333333333%;
        -ms-flex: 1 1 33.3333333333%;
        flex: 1 1 33.3333333333%;
    }
    .flexRowWrap .col-noGap-OneThird .childrenPadding {
        padding: 6.25%;
    }
    .flexRowWrap .col-noGap-OneForth {
        float: left;
        width: 100%;
        width: 25%;
        margin-right: 2.1276595745%;
        margin-bottom: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneForth {
        float: none;
    }
    .flexRowWrap .col-noGap-OneForth:nth-child(2) {
        margin-right: 0;
    }
    .flexRowWrap .col-noGap-OneForth:nth-child(3) {
        margin-left: 2.1276595745%;
    }
    .flexRowWrap .col-noGap-OneForth:last-child {
        margin-right: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneForth {
        margin: 0;
    }
    .flexbox .flexRowWrap .col-noGap-OneForth {
        width: auto;
        -moz-flex: 1 1 25%;
        -webkit-flex: 1 1 25%;
        -ms-flex: 1 1 25%;
        flex: 1 1 25%;
    }
    .flexRowWrap .col-noGap-OneForth .childrenPadding {
        padding: 8.3333333333%;
    }
}

.multiRow {
    width: 95.9183673469%;
}
.multiRow .flexRowWrap {
    margin: 0;
}
.multiRow .multiCol {
    margin-bottom: 1em;
    margin-bottom: 2vw;
}
.multiRow .multiCol .childrenPadding {
    padding: 2.1276595745%;
}
@media (min-width: 700px) {
    .multiRow {
        width: 97.9591836735%;
    }
    .multiRow .multiCol {
        float: left;
        width: 100%;
        width: 31.25%;
        margin: 1.0204081633%;
        margin-top: 0;
        margin-bottom: 1em;
        margin-bottom: 2vw;
    }
    .flexbox .multiRow .multiCol {
        float: none;
    }
    .flexbox .multiRow .multiCol {
        -moz-flex: 1 1 31.25%;
        -webkit-flex: 1 1 31.25%;
        -ms-flex: 1 31.25%;
        flex: 1 1 31.25%;
    }
    .multiRow .multiCol .childrenPadding {
        padding: 6.6666666667%;
    }
}

@supports not (flex-flow: row wrap) {
    .flexbox .flexRowWrap, .no-flexbox .flexRowWrap {
        *zoom: 1;
    }
    .flexbox .flexRowWrap:before, .flexbox .flexRowWrap:after, .no-flexbox .flexRowWrap:before, .no-flexbox .flexRowWrap:after {
        content: " ";
        display: table;
    }
    .flexbox .flexRowWrap:after, .no-flexbox .flexRowWrap:after {
        clear: both;
    }
    .flexbox .flexRowWrap .col-1, .no-flexbox .flexRowWrap .col-1, .flexbox .flexRowWrap .col-2, .no-flexbox .flexRowWrap .col-2, .flexbox .flexRowWrap .col-3, .no-flexbox .flexRowWrap .col-3, .flexbox .flexRowWrap .col-4, .no-flexbox .flexRowWrap .col-4, .flexbox .flexRowWrap .col-5, .no-flexbox .flexRowWrap .col-5, .flexbox .flexRowWrap .col-6, .no-flexbox .flexRowWrap .col-6, .flexbox .flexRowWrap .col-7, .no-flexbox .flexRowWrap .col-7, .flexbox .flexRowWrap .col-8, .no-flexbox .flexRowWrap .col-8, .flexbox .flexRowWrap .col-9, .no-flexbox .flexRowWrap .col-9, .flexbox .flexRowWrap .col-10, .no-flexbox .flexRowWrap .col-10, .flexbox .flexRowWrap .col-11, .no-flexbox .flexRowWrap .col-11, .flexbox .flexRowWrap .col-12, .no-flexbox .flexRowWrap .col-12 {
        float: left;
    }
}
html {
    color: #333;
    -webkit-font-smoothing: antialiased;
}
html body {
    color: #888;
    line-height: 1.5;
    font-size: 12px;
    text-align: center;
    font-family: Helvetica, Arial, Verdana, sans-serif;
}
@media (min-width: 700px) {
    html body {
        text-align: left;
        font-size: 2vw;
    }
}
@media (min-width: 1200px) {
    html body {
        font-size: 24px;
    }
}

[class*='col-'] {
    background: #ccc;
}

.intro {
    color: white;
    color: rgba(255, 255, 255, 0.75);
    background: #B72039;
    font-size: 18px;
}
@media (min-width: 700px) {
    .intro {
        font-size: 2.5vw;
    }
}
@media (min-width: 1200px) {
    .intro {
        font-size: 36px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 18px;
}
@media (min-width: 700px) {
    h1 {
        font-size: 3vw;
    }
}
@media (min-width: 1200px) {
    h1 {
        font-size: 36px;
    }
}

h1, h2, h3 {
    margin: 0 0 24px 0;
}

header, .intro, footer {
    text-align: center;
}

footer {
    background: #333;
    line-height: 96px;
    height: 96px;
    margin-bottom: 0;
}
footer .flexRowWrap {
    margin-bottom: 0;
}

header.wrap {
    margin: 0;
    background: #A41B32;
}
header.wrap .flexRowWrap [class*='col-'] {
    color: white;
    color: rgba(255, 255, 255, 0.75);
    background: #B72039;
}
@media (max-width: 700px) {
    header.wrap [class*='col-'] {
        margin-bottom: 0;
    }
    header.wrap [class*='col-']:last-child {
        background: #A41B32;
    }
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 0;
}

.fullWidth .wrapInset {
    background: #ccc;
}
.fullWidth .wrapInset > [class*='col-'] {
    background: white;
}

.multiRow .multiCol {
    background: #ccc;
}

.even .wrapInset {
    background: #bbb;
    margin-bottom: 1em;
    margin-bottom: 2vw;
}

.message .col-12 {
    background: white;
}
.message .col-12 .childrenPadding {
    text-align: center;
    font-size: 6vw;
    padding-top: 5%;
    padding-bottom: 5%;
}
@media (min-width: 1200px) {
    .message .col-12 .childrenPadding {
        font-size: 72px;
    }
}
